header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $header-height;
  min-height: $header-height;
  padding: 0 1.5em;

  background-color: $header-bg;
  color: $white;

  > label {
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
  }

  > button {
    display: none;
    background: transparent;
    border: none;
    font-size: 1.5em;
    margin-right: 0.5em;
  }

  > button.toggle-filters {
    display: inline-block;

    @include desktop() {
      display: none;
    }
  }

  // Parent selector
  .overview-open & {
    > button.toggle-filters {
      display: none;
    }

    > button.go-back {
      display: inline-block;

      @include desktop() {
        display: none;
      }
    }
  }
}