<novo-loading *ngIf="loading"></novo-loading>
<div class="mobile-filter-container">
<button theme="secondary" (click)="openSidebar()" icon="filter">Filter</button>

</div>
<div class="open-positions">
    <span class="open-positions-text">Open Positions ({{total}})</span>
</div>
<novo-list direction="vertical" *ngIf="!loading && jobs.length > 0">

<div *ngFor="let job of jobs" class="job-card" [routerLink]="'job/' + job.id" >
    <novo-list-item>
        <item-header>
            <item-title>{{ job.title }}</item-title>
        </item-header>
        <item-header-end>
            <span class="mid-card">
                <i class="bhi-location"></i>
                {{ job.address.city }}, {{ job.address.state }}
            </span>
            <span class="mid-card">
                {{ job.dateLastPublished | date: 'mediumDate'}}
            </span>
        </item-header-end>
    </novo-list-item>
    <span class="description">
        {{ job.publicDescription | stripHtml}}
    </span>
</div>

</novo-list>
<div class="load-more-button" *ngIf="!loading && moreAvailable">
  <button theme="secondary" (click)="loadMore()" inverse>Load More</button>
</div>
<div class="empty-list" *ngIf="!loading && jobs.length === 0">
  <i class="bhi-search-question"></i>
  No matching jobs
</div>
