<header [title]="title" icon="company" theme="company" condensed="true">
        <div class="entity-header" novo-title></div>
        <utils>
            <util-action *ngIf="!sidebarVisible" (click)="openSidebar()" icon="filter"></util-action>
        </utils>
</header>
<novo-loading *ngIf="loading"></novo-loading>
<novo-list theme="background" direction="vertical" *ngIf="!loading && jobs.length > 0">
<ng-container *ngFor="let job of jobs">
    <novo-list-item [routerLink]="'job/' + job.id" >
        <item-header>
            <item-avatar icon="job"></item-avatar>
            <item-title>{{ job.title }}</item-title>
        </item-header>
        <item-content direction="horizontal">
                <span>
                    <i class="bhi-location"></i>
                    {{ job.address.city }}, {{ job.address.state }}
                </span>
        </item-content>
        <item-content direction="vertical">
            <span>
                <i class="bhi-clock"></i>
                Added {{ job.dateLastPublished | date: 'mediumDate'}}
            </span>
        </item-content>
        <!--<item-content direction="vertical">
            <span>
                <i class="bhi-clock"></i>
                {{ job.publicDescription | stripHtml}}
            </span>
        </item-content> -->
        <item-end>
                <item-content direction="horizontal">
                        <span class="mid-card">
                            <b>
                                {{ job.publishedCategory?.name }}
                            </b>
                        </span>
                        <b>|</b>
                        <span class="mid-card">
                            <b>
                                {{ job.employmentType }}
                            </b>
                        </span>
                </item-content>
                <item-content direction="vertical">
                    <span>
                            <i class="bhi-next"></i>
                    </span>
                </item-content>
        </item-end>
    </novo-list-item>
</ng-container>

</novo-list>
<div class="load-more-button" *ngIf="!loading && moreAvailable">
  <button theme="secondary" (click)="loadMore()" inverse>Load More</button>
</div>
<div class="empty-list" *ngIf="!loading && jobs.length === 0">
  <i class="bhi-search-question"></i>
  No matching jobs
</div>
