item-end {
  .mid-card {
    padding: 0 4px 0 4px;
  }
}

novo-list {
  overflow: auto;
  min-height: 61.3vh;
}
@media only screen and (min-width: 768px) {
  :host{
    >header {
      util-action {
        display: none;
      }
    }
  }
}

.empty-list {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 1.7em;
  i {
    margin-right: 15px;
  }
}

.load-more-button {
  padding: 10px 0;
  background-color: rgb(47, 56, 79);
  text-align: center;
}