# Package/Dependencies
lib/
node_modules/

# Config Files
src/app.json
src/app/index.translations.js

# Build Output
dist/
reports/

# Transient Build Output
.tmp/
.sass-cache/

# Others
.DS_Store
.idea
.vs/
.settings/