<section class="jobs">
    <h5>{{::searchService.config.portalText.joblist.header}} </h5>

    <card ng-repeat="job in searchService.currentListData" ng-click="openSummary(job.id, job);" class="slide-up-item">
        <div class="key-container">
            <h3 class="item-title"><a href="">{{::job.title}}</a></h3>
            <span class="item-cat" ng-repeat="cat in job.categories.data">{{::cat.name}}</span>
            <span class="item-loc">{{::job.address.city}}, {{::job.address.state}}</span>
            <span class="item-type">{{::job.employmentType}}</span>
            <span class="item-date">Added - {{::job.dateAdded | date : fullDate}}</span>
            <span class="item-description break-word" ng-bind-html="::job.publicDescription"></span>
        </div>
        <i class="icon-arrow-forward" ng-click="openSummary(job.id, job);"></i>
    </card>

    <card ng-click="loadMoreData();" ng-show="searchService.helper.moreRecordsExist()" id="load-more-data">
        <div class="key-container">
            <h3 class="item-title">{{::searchService.config.portalText.joblist.loadMoreData}}</h3>
        </div>

    </card>


</section>
