
  <modal class="slide-up">
    <header>
      <!-- This title should be dynamic -->
      <h2>{{::searchService.config.portalText.modal.header}}</h2>
      <!-- This subtitle should be dynamic -->
      <p>
        {{::searchService.config.portalText.modal.subHeader}}
      </p>

    </header>
    <main>
      <!-- This content should be dynamic -->
      <form class="apply-form" action="index.html" method="post">
        <input type="text" name="firstName" value="" placeholder="First Name">
        <input type="text" name="lastName" value="" placeholder="Last Name">
        <input type="text" name="email" value="" placeholder="Email@domain.com">
        <input type="text" name="mobile-phone" value="" placeholder="Mobile Phone (Optional)">
        <div class="upload-container">
          <input type="file" name="resume" value="" accept=".pdf">
          <div class="upload-content">
            <i class="icon-cloud-upload"></i><span class="upload-text"> {{::searchService.config.portalText.modal.uploadResumeFile}}</span>
          </div>
        </div>
      </form>
      <!-- These buttons should be dynamic -->
      <div class="btn-container">
        <button type="submit" name="cancel" ng-click="modal.closeModal()">Cancel</button>
        <button type="submit" name="submit">Submit</button>
      </div>
    </main>
  </modal>
