
  <modal class="pop-open">
    <header>
      <!-- This title should be dynamic -->
      <h2>Before You Apply...</h2>
      <!-- This subtitle should be dynamic -->
      <p>
        Please let us know who you are and upload your resume
      </p>

    </header>
    <main>
      <!-- This content should be dynamic -->
      <form class="apply-form" action="index.html" method="post">
        <input type="text" name="firstName" value="" placeholder="First Name">
        <input type="text" name="lastName" value="" placeholder="Last Name">
        <input type="text" name="email" value="" placeholder="email@domain.com">
        <input type="file" name="resume" value="" accept=".pdf">
      </form>
      <!-- These buttons should be dynamic -->
      <div class="btn-container">
        <button type="submit" name="cancel" ng-click="modal.closeModal()">Cancel</button>
        <button type="submit" name="submit">Submit</button>
      </div>
    </main>
  </modal>
