
  <modal class="slide-up">
    <header>
      <!-- This title should be dynamic -->
      <h2>Before You Apply...</h2>
      <!-- This subtitle should be dynamic -->
      <p>
        Please let us know who you are and upload your resume
      </p>

    </header>
    <main>
      <div class="mobile-only">
        <h3>Email This Job To Yourself</h3>
        <input type="text" name="email" value="" placeholder="Email@domain.com">
        <div class="divider">
          <hr><p>or</p><hr>
        </div>
        <h3>Have your resume on your mobile device? Apply to this job directly.</h3>
      </div>
      <!-- This content should be dynamic -->
      <form class="apply-form" action="index.html" method="post">
        <input type="text" name="firstName" value="" placeholder="First Name">
        <input type="text" name="lastName" value="" placeholder="Last Name">
        <input type="text" name="email" value="" placeholder="Email@domain.com">
        <div class="upload-container">
          <input type="file" name="resume" value="" accept=".pdf">
          <div class="upload-content">
            <i class="icon-cloud-upload"></i><span class="upload-text">Upload Resume File</span>
          </div>
        </div>
      </form>
      <!-- These buttons should be dynamic -->
      <div class="btn-container">
        <button type="submit" name="cancel" ng-click="modal.closeModal()">Cancel</button>
        <button type="submit" name="submit">Submit</button>
      </div>
    </main>
  </modal>
