<section class="job-overview" scroll>
  <card class="description" ng-style="topPad">
    <div class="job-actions" ng-class="overview.share">
      <button name="print" onClick="window.print();">
  			<span class="icon-print"></span>
  			Print
  		</button>
  		<button name="share" ng-click="overview.openShare()">
  			<span class="icon-share"></span>
  			Share
  		</button>
      <div class="share-outlets">
        <a href="" class="icon-facebook" onClick="alert('Share with Facebook!')"></a>
        <a href="" class="icon-twitter" onClick="alert('Share with Twitter!')"></a>
        <a href="" class="icon-linkedin" onClick="alert('Share with Linkedin!')"></a>
        <a href="" class="icon-email" onClick="alert('Share with Email!')"></a>
      </div>
    </div>
    <h2>{{::searchService.config.portalText.overview.header}}</h2>
	  <div class="break-word" >
			<p ng-bind-html="::overview.job_data.publicDescription"></p>
	  </div>
	</card>
	<card class="apply" el-height>
		<span class="date-added">Added—{{::overview.job_data.dateAdded | date : fullDate}}</span>
		<h1 class="title" ng-class="{min:boolChangeClass}">Job {{::overview.job_id}}: <br>{{overview.job_data.title}}</h1>
		<h3 class="category" ng-repeat="cat in overview.job_data.categories">{{::cat.data.name}}</h3>
    <div class="loc-type">
      <span class="location">{{overview.job_data.address.city}}, {{::overview.job_data.address.state}}</span> | <span class="type">{{::overview.job_data.employmentType}}</span>
    </div>
		<button name="apply" ng-click="overview.applyModal()">{{::searchService.config.portalText.overview.applyButtonLabel}}</button>
		<div class="related-jobs">
      <hr>
  		<h3>Related Jobs</h3>
  		<list>
  			<item><a href="#">Career Portal Enthusiast | </a><span class="category">UX/UI</span>
  			<span class="location">Boston, MA</span></item>
  		</list>
  		<hr>
  		<a href="" ng-click="overview.goBack()" class="category-filter">See all *Category* Jobs <i class="icon-arrow-forward"></i> </a>
		</div>
	</card>
</section>
