<section class="filters-container" ng-controller="SideBarCtrl as aside">

	<header>
		<label>Filters</label>
		<button class="icon-view-list" ng-click="aside.switchViewStyle('list');"></button>
		<button class="icon-view-module" ng-click="aside.switchViewStyle('grid');"></button>
	</header>

	<filters>
		<input type="search" name="keyword" value="" placeholder="keyword">
		<h5>Location</h5>
		<list>
			<item><input type="checkbox">Boston</item>
			<item><input type="checkbox">London</item>
			<item><input type="checkbox">St. Louis</item>
			<item><input type="checkbox">Vancouver</item>
			<item><input type="checkbox">Sydney</item>
		</list>
		<h5>Category</h5>
		<list>
			<item><input type="checkbox">UX/UI</item>
			<item><input type="checkbox">Marketing</item>
			<item><input type="checkbox">Sales</item>
			<item><input type="checkbox">Professional Services</item>
		</list>
	</filters>

	<credits>
		<span class="powered-by">Powered by</span>
		<h4 class="bullhorn">Bullh<span>o</span>rn</h4>
	</credits>

</section>
