<section class="filters-container icon-arrow-back" ng-controller="SideBarCtrl as aside" ng-Click="aside.goBack('overview-open');">

	<header>
		<label>Filters</label>
		<button class="icon-view-list" ng-click="aside.switchViewStyle('list');"></button>
		<button class="icon-view-module" ng-click="aside.switchViewStyle('grid');"></button>
	</header>

	<filters>
		<searchbox>
			<label for="keyword" class="icon-search"></label>
			<input type="search" name="keyword" value="" placeholder="Keyword Search">
		</searchbox>
		<h4>Location</h4>
		<list>
			<item><input type="checkbox" id="bos"><label for="bos">Boston</label></item>
			<item><input type="checkbox" id="ldn"><label for="ldn">London</label></item>
			<item><input type="checkbox" id="stl"><label for="stl">St. Louis</label></item>
			<item><input type="checkbox" id="van"><label for="van">Vancouver</label></item>
			<item><input type="checkbox" id="syd"><label for="syd">Sydney</label></item>
		</list>
		<h4>Category</h4>
		<list>
			<item><input type="checkbox" id="ux"><label for="ux">UX/UI</label></item>
			<item><input type="checkbox" id="mar"><label for="mar">Marketing</label></item>
			<item><input type="checkbox" id="sal"><label for="sal">Sales</label></item>
			<item><input type="checkbox" id="ps"><label for="ps">Professional Services</label></item>
		</list>

		<button name="clear-all"><i class="icon-cancel"></i> Clear Filters</button>
	</filters>

	<credits>
		<span class="powered-by">Powered by</span>
		<h4 class="bullhorn">Bullh<span>o</span>rn</h4>
	</credits>

</section>
