<novo-loading *ngIf="loading"></novo-loading>
<div class="background" *ngIf="!loading">
    <div class="job-container">
        <div class="job-header">
            <span class="job-title">{{job.title}}</span>
            <div class="job-info-container">
                <span class="job-info"><i class="bhi-location"></i>{{ job.address.city }}<span *ngIf="job.address.city && job.address.state">,&nbsp;</span>{{
                    job.address.state }}</span>
                <span class="job-info">{{ job.employmentType }}</span>
                <span class="job-info">{{ job.dateLastPublished | date: 'mediumDate'}}</span>
            </div>
        </div>
        <div class="job-description-text" [innerHTML]="job.publicDescription"></div>
        <div class="share">
            <button theme="primary" *ngIf="!alreadyApplied" (click)="apply()">Apply Now</button>
            <button theme="primary" *ngIf="alreadyApplied" disabled="true">Already Applied</button>
            <button theme="icon" icon="email" (click)="emailLink()" *ngIf="showShareButtons"></button>
            <button theme="icon" icon="twitter" (click)="shareTwitter()" *ngIf="showShareButtons"></button>
            <button theme="icon" icon="facebook" (click)="shareFacebook()" *ngIf="showShareButtons"></button>
            <button theme="icon" icon="linkedin" (click)="shareLinkedin()" *ngIf="showShareButtons"></button>
            <button theme="dialogue" icon="share" (click)="toggleShareButtons()">Share this Post</button>
            <button theme="icon" icon="print" (click)="print()"></button>
        </div>
    </div>
</div>
<app-structured-seo *ngIf="!loading" [jobData]="job"></app-structured-seo>