.background{
  overflow-x: hidden;
  background-color: #F4F4F4;
  max-height: calc(100vh - 55px);
  .job-container {
    margin: 0% 10%;
    padding: 5%;
    background-color: #FFFFFF;
    .job-header {
      div.job-info-container {
        margin: 30px 0px;
        .job-info {
          color: #0B344F;
          padding: 10px 10px;
          margin: 5px;
          background-color: #f4f4f4;
          border-radius: 8px;
        }
      }
      .job-title {
        font-size: 2em;
        font-weight: 600;
      }
    }
    .share {
      display: flex;
      button {
        margin-right: 20px; 
      }
    }
  }


}
