

html {
  body {
    hgroup {
      @media (max-width: 1100px) {
        aside {
          display: none;
        }
        main {
          header {
            button[name="filters-menu"] {
              display: inline-block;
            }
            button[name="over-arrow-back"] {
              display: none;
            }
          }
        }
      }
      @media (min-width: 1100px) {
        aside {
          display: block !important;
        }
        main {
          header {
            button[name="filters-menu"] {
              display: none;
            }
            button[name="over-arrow-back"] {
              display: none;
            }
          }
        }
      }
    }
    &.overview-open {
      @media (max-width: 1100px) {
        div.modal-container {
        }
        hgroup {
          main {
            header {
              button[name="filters-menu"] {
                display: none;
              }
              button[name="over-arrow-back"] {
                display: inline-block;
              }
            }
          }
        }
      }
      @media (max-width: 850px) {
        div.modal-container {
          modal {
            margin: auto;
            height: 100%;
            div.mobile-only {
              display: block;
            }
          }
        }
        hgroup {
          main {
            ng-view {
              section {
                &.job-overview {
                  flex-direction: column-reverse;
                  align-items: flex-start;
                  card {
                    width: 100%;
                    margin: 0;
                    &.apply {
                      position: fixed;
                      margin: -10px;
                      .related-jobs {
                        display: none;
                      }
                    }
                    &.description {
                      margin-top: 75%;
                      .job-actions {
                        button[name="print"] {
                          display: none;
                        }
                        .share-outlets {
                          padding-right: 10px;
                        }
                      }
                    }
                    button{
                      &[name="print"] {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.grid-view {
      hgroup {
        @media (max-width: 900px) {
          main {
            ng-view {
              section {
                &.jobs {
                  card {
                    width: 48%;
                  }
                }
              }
            }
          }
        }
        @media (max-width: 700px) {
          main {
            ng-view {
              section {
                &.jobs {
                  card {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.list-view {
      hgroup {
        @media (max-width: 900px) {
          main {
            ng-view {
              section {
                &.jobs {
                  card {
                    span {
                      display: block;
                      &.item-type,
                      &.item-date,
                      &.item-description {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        @media (max-width: 700px) {
          main {
            ng-view {
              section {
                &.jobs {
                  card {
                    .item-title {
                      width: 100%;
                      max-width: 80%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


/* ==============
   Print Styles
===============*/

@media print {
  html {
    overflow: visible;
    body {
      overflow: visible;
      &.overview-open {
        overflow: visible;
        hgroup {
          aside {
            display: none;
          }
          main {
            overflow: visible;
            header {
              width: 100%;
              button[name="filters-menu"] {
                display: none;
              }
              button[name="over-arrow-back"] {
                display: none;
              }
            }
            ng-view {
              section {
                &.job-overview {
                  card {
                    display: block;
                    margin-top: 10px !important;
                    margin: 10px 0;
                    padding: 5px;
                    position: relative;
                    .job-actions {
                      display: none !important;
                    }
                    &.apply {
                     position: relative !important;
                     div.related-jobs {
                       display: none;
                     }
                     button[name="apply"] {
                       display: none;
                     }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
