/* ==============
    Variables
===============*/

/* Color Schemes */

$primary:             #39d;  // Links + Header
$secondary:        #7abd00;  // Apply Buttons
$light-bg:         #f4f4f4;  // Main Background
$dark-bg:          #2e2f30;  // Sidebar Background
$header-bg:       $primary;  // Header Background
$toggle-active:       #fff;  // Grid-List toggle button 'active' color

/* Typography */

$font-size: 13px;
$font-family: 'Roboto';
$base-color: #46474A;


/* ==============
     Styles
===============*/

html {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: $font-size;
  width: 100%;
  height: 100%;
  color: $base-color;
  body {
    width: 100%;
    height: 100%;
    background: $light-bg;
    list {
      display: block;
      list-style-type: none;
    }
    item {
      display: list-item;
    }
    a {
      color: $primary;
      text-decoration: none;
    }
    input {
      &:focus,
      &:active {
        outline: none;
      }
    }
    button {
      &:focus,
      &:active {
        outline: none;
      }
    }
    hgroup {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      header {
        height: 48px;
        box-sizing: border-box;
        line-height: 46px;
      }
      /* ==== Sidebar Styles =====*/
      aside {
        width: 240px;
        height: 100%;
        background: $dark-bg;
        -webkit-transition: width 120ms ease-in-out;
        transition: width 120ms ease-in-out;
        section {
          & > * {
            position: fixed;
            width: 240px;
            left: 0;
          }
          &.filters-container {
            height: 100%;
            width: 100%;
            position: relative;
            &:before {
              color: #fff;
              z-index: 999;
              position: absolute;
              top: 50%;
              right: 18px;
              -webkit-transform: translateX(300px);
              transform: translateX(300px);
              transition: transform 550ms ease-in-out;
            }
            & > * {
              transition: transform 200ms ease-in-out;
            }
            header {
              top: 0;
              padding: 0 10px;
              background: darken($dark-bg, 4%);
              label {
                color: lighten($dark-bg, 25%);
                line-height: 46px;
              }
              button {
                background: transparent;
                border: none;
                float: right;
                color: lighten($dark-bg, 45%);
                padding: 5px;
                font-size: 1.2em;
                line-height: 35px;
              }
            }
            filters {
              box-sizing: border-box;
              display: block;
              padding: 10px;
              color: lighten($dark-bg, 35%);
              top: 46px;
              searchbox {
                display: block;
                width: 100%;
                position: relative;
                label[for="keyword"] {
                  position: absolute;
                  top: 37%;
                  font-size: 1.5em;
                  left: 8px;
                }
                input[type="search"] {
                  width: 100%;
                  border: none;
                  border-radius: 2em;
                  padding: 5px;
                  box-sizing: border-box;
                  text-indent: 30px;
                  background: lighten($dark-bg, 5%);
                  color: lighten($dark-bg, 75%);
                  margin: 15px 0;
                  line-height: 2;
                }
              }

              list {
                item {
                  margin: 10px 5px;
                  padding-bottom: 5px;
                  border-bottom: 1px solid lighten($dark-bg, 5%);
                  color: lighten($dark-bg, 65%);
                  input[type="checkbox"] {
                    margin-right: 10px;
                    background: lighten($dark-bg, 15%);
                    border: none;
                    height: 12px;
                    width: 12px;
                    border-radius: 3px;
                    -webkit-appearance: initial;
                    display: inline-block;
                    -webkit-transition: all 130ms ease-in-out;
                    transition: all 130ms ease-in-out;
                    &:checked {
                      background: $primary;
                      -webkit-transform: scale(.75);
                      // border-radius: 50%;
                      & + label {
                        color: $primary;
                      }
                    }
                  }
                  label {
                    width: 80%;
                    display: inline-block;
                    cursor: pointer;
                  }
                }
              }
              button[name="clear-all"] {
                padding: 7px 10px;
                border: none;
                background: transparent;
                border-radius: 4px;
                margin-top: 35px;
              }
            }
            credits {
              color: lighten($dark-bg, 15%);
              display: block;
              width: 200px;
              bottom: 0;
              left: 15px;
              padding: 10px;
              span.powered-by {
                font-size: 0.8em;
              }
              h4.bullhorn {
                color: #fff;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-top: 5px;
                span {
                  color: red;
                }
              }
            }
          }
        }
      }
      /* ==== Main Content Styles (List / Grid / Overview) =====*/
      main {
        flex: 1;
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        overflow: scroll;
        header {
          position: fixed;
          width: 100%;
          background: $header-bg;
          color: #fff;
          font-weight: 300;
          padding: 0 10px;
          box-shadow: 0 1px 3px rgba(0,0,0,.25);
          button[name="filters-menu"] {
            display: none;
            background: transparent;
            border: none;
          }
          button[name="over-arrow-back"] {
            display: none;
            background: transparent;
            border: none;
            font-size: 1.3em;
          }
          h2 {
            margin: 0;
            color: lighten($header-bg, 55%);
            display: inline-block;
          }
          feed {
            display: inline-block;
            cursor: pointer;
            margin-left: 15px;
          }
        }
        /* View Container */
        ng-view {
          display: block;
          padding: 58px 10px 10px 10px;
          min-width: 380px;
          section {
            card {
              display: block;
              background: #fff;
              box-shadow: 0px 1px 3px rgba(0,0,0,.15);
              padding: 10px;
              box-sizing: border-box;
              margin: 4px;
              vertical-align: top;
            }
            &.jobs {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-content: flex-start;
              align-items: flex-start;
              h5 {
                color: darken($light-bg, 15%);
                font-weight: 400;
                font-size: 1.3em;
                display: block;
                width: 100%;
                margin: 10px 0;
              }
              card {
                .key-container {
                  h3 {
                    text-transform: uppercase;
                  }
                  span  {
                    color: lighten($base-color, 35%);
                    &.item-cat {
                      font-weight: 600;
                    }
                    &.item-loc,
                    &.item-type {
                      color: lighten($base-color, 5%);
                    }
                    &.item-description {
                      margin-top: 10px;
                      font-family: 'PT Serif';
                      color: lighten($base-color, 10%);
                    }
                  }
                }
                a.joblist-apply {
                  color: $secondary;
                }
              }
            }
            /* Job Overview Styles */
           &.job-overview {
             display: flex;
             align-items: flex-start;
             card {
               padding: 25px;

               -webkit-animation-name: slide-left; /* Chrome, Safari, Opera */
               -webkit-animation-duration: 550ms; /* Chrome, Safari, Opera */
               animation-name: slide-left;
               animation-duration: 550ms;

               align-self: stretch;
               overflow: scroll;

               &.description {
                 display: inline-block;
                 h2 {
                   display: inline-block;
                   font-weight: 500;
                   color: $base-color;
                 }
                 button[name="share"],
                 button[name="print"] {
                   float: right;
                   display: inline-block;
                   border: none;
                   background: transparent;
                   margin-left: 15px;
                   font-size: 1.3em;
                   color: lighten($base-color, 15%);
                   span {
                     margin-right: 5px;
                   }
                 }
                 p {
                   font-family: 'PT Serif';
                   font-size: 1.2em;
                   line-height: 1.6em;
                   color: lighten($base-color, 10%);
                 }
               }
               &.apply {
                 width: 48%;
                 min-width: 300px;
                 display: inline-block;
                 & > * {
                   display: block;
                 }
                 span.date-added {
                   color: lighten($base-color, 35%);
                 }
                 h1.title {
                   color: $base-color;
                 }
                 h3.category {
                   color: lighten($base-color, 35%);
                 }
                 span.type {
                   margin-bottom: 25px;
                 }
                 button[name="apply"] {
                  width: 100%;
                  border: none;
                  background: $secondary;
                  color: #fff;
                  padding: 10px;
                  border-radius: 3px;
                  text-transform: uppercase;
                  font-weight: 600;
                 }
                 hr {
                  border: none;
                  height: 1px;
                  background: #E8E8E8;
                  margin: 15px 0;
                 }
                 list {
                   item {
                     .location {
                       display: block;
                     }
                   }
                 }
                 a.category-filter {
                   padding: 10px 0px 10px 0px;
                   i {
                     float: right;
                   }
                 }
               }
             }
           }
          }
        }
      }
    }
    /* ==== Job Overview Open Styles =====*/
    &.overview-open {
      aside {
        width: 46px;
        &:hover {
          cursor: pointer;
          background: lighten($dark-bg, 3%);
          width: 76px;
          section {
            &.filters-container {
              header {
                background: $dark-bg;
              }
            }
          }
        }
        section {
          &.filters-container {
            & > * {
              -webkit-transform: translateX(-400px);
            }
            &:before {
              -webkit-transform: translateX(0px);
              transform: translateX(0px);
            }
          }
        }
      }
    }
    /* ==== Grid / List Swap Styles =====*/
    /* Grid View */
    &.grid-view {
      aside {
        section {
          &.filters-container {
            header {
              button {
                /* Change Grid Button Color */
                &.icon-view-module {
                  color: $toggle-active;
                }
              }
            }
          }
        }
      }
      main {
        ng-view {
          section {
            &.jobs {
              card {
                width: 32%;
                max-height: 360px;
                padding-bottom: 45px;
                & > * {
                  display: block;
                }
                .key-container {
                  & > * {
                    display: block;
                  }
                  h3.item-title {
                    margin-bottom: 5px;
                  }
                  span {
                    &.item-cat {
                      &:first-of-type {
                        margin-top: 15px;
                      }
                    }
                    &.item-loc {
                      margin-top: 15px;
                    }
                    &.item-type {
                      margin: 0 0 15px 0;
                    }
                  }
                }
                hr {
                  border: none;
                  margin: 20px -10px 10px -10px;
                  height: 1px;
                  background: #f4f4f4;
                }
                a.joblist-apply {
                  width: 100%;
                  padding: 15px;
                  text-align: center;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
      }
    }
    /* List View */
    &.list-view {
      aside {
        section {
          &.filters-container {
            header {
              button {
                /* Change List Button Color */
                &.icon-view-list {
                  color: $toggle-active;

                }
              }
            }
          }
        }
      }
      main {
        ng-view {
          section {
            &.jobs {
              card {
                overflow: auto;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: stretch;
                & > * {
                  display: inline-block;
                }
                .key-container {
                  & > * {
                    display: inline-block;
                    margin: 0 15px;
                  }
                  span {
                    &.item-description {
                      max-width: 80%;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                }
                hr {
                  display: none;
                }
                a.joblist-apply {
                  padding: 20px;
                  width: 85px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ==============
    Animations
===============*/

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-left {
    from {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
}

/* Standard syntax */
@keyframes slide-left {
    from {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1
    }
}
