/* Vendor Prefixes */
/* SASS Files */
/* ==============
    Variables
===============*/
/* Color Schemes */
/* Typography */
/* ==============
     Styles
===============*/
html {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto";
  font-size: 13px;
  width: 100%;
  height: 100%;
  color: #46474A; }
  html body {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    /* ==== Modal Styles ====*/
    /* ==== END Modal Styles ====*/
    /* ==== Job Overview Open Styles =====*/
    /* ==== Grid / List Swap Styles =====*/
    /* Grid View */
    /* List View */ }
    html body list {
      display: block;
      list-style-type: none; }
    html body item {
      display: list-item; }
    html body a {
      color: #39d;
      text-decoration: none; }
    html body input:focus, html body input:active {
      outline: none; }
    html body button:focus, html body button:active {
      outline: none; }
    html body .modal-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 9999; }
      html body .modal-container modal {
        display: block;
        margin: 80px auto;
        width: 100%;
        max-width: 500px;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
        box-sizing: border-box; }
        html body .modal-container modal header {
          background: #39d;
          padding: 10px 0px 20px 0px;
          display: block;
          box-sizing: border-box;
          color: #fff;
          text-align: center; }
          html body .modal-container modal header h2 {
            color: #fff; }
        html body .modal-container modal main {
          padding: 10px 25px 20px 25px;
          display: block;
          box-sizing: border-box; }
          html body .modal-container modal main form.apply-form > * {
            display: block;
            box-sizing: border-box;
            margin: 25px 0;
            width: 100%; }
          html body .modal-container modal main input {
            box-sizing: border-box;
            width: 100%; }
            html body .modal-container modal main input[type="text"] {
              border: none;
              border-bottom: 1px solid #cecece;
              padding: 5px; }
              html body .modal-container modal main input[type="text"]:focus {
                border-bottom: 1px solid #39d; }
            html body .modal-container modal main input[type="file"] {
              cursor: pointer;
              text-align: center;
              padding: 10px;
              background: #f4f4f4;
              border-radius: 3px;
              border: 1px solid #39d;
              opacity: 0;
              position: relative;
              z-index: 5; }
          html body .modal-container modal main .upload-container {
            border: 1px solid #39d;
            border-radius: 3px;
            background: transparent;
            position: relative;
            cursor: pointer; }
            html body .modal-container modal main .upload-container .upload-content {
              position: absolute;
              left: 0;
              right: 0;
              top: 12px;
              text-align: center;
              color: #39d;
              z-index: 0; }
              html body .modal-container modal main .upload-container .upload-content > * {
                line-height: 13px; }
              html body .modal-container modal main .upload-container .upload-content i {
                margin-right: 10px;
                font-size: 1.5em; }
              html body .modal-container modal main .upload-container .upload-content .upload-text {
                vertical-align: 3px; }
        html body .modal-container modal .btn-container {
          width: 100%;
          padding-top: 25px;
          text-align: center;
          text-align: right; }
          html body .modal-container modal .btn-container button {
            text-transform: uppercase;
            padding: 10px 15px;
            border: none;
            margin: 0 10px; }
            html body .modal-container modal .btn-container button[name="cancel"] {
              color: #cecece;
              background: transparent;
              font-weight: 600; }
            html body .modal-container modal .btn-container button[name="submit"] {
              color: #fff;
              background: #39d;
              border-radius: 2px; }
    html body hgroup {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      /* ==== Sidebar Styles =====*/
      /* ==== Main Content Styles (List / Grid / Overview) =====*/ }
      html body hgroup header {
        height: 48px;
        box-sizing: border-box;
        line-height: 46px; }
      html body hgroup aside {
        width: 240px;
        height: 100%;
        background: #2e2f30;
        -webkit-transition: width 120ms ease-in-out;
        transition: width 120ms ease-in-out; }
        html body hgroup aside section > * {
          position: fixed;
          width: 240px;
          left: 0; }
        html body hgroup aside section.filters-container {
          height: 100%;
          width: 100%;
          position: relative; }
          html body hgroup aside section.filters-container button[type="back-arrow"] {
            height: 100%;
            width: 46px;
            position: absolute;
            background: transparent;
            color: #fff;
            border: none;
            right: 46px;
            -webkit-transform: translateX(300px);
            transform: translateX(300px);
            transition: all 250ms ease-in-out; }
            html body hgroup aside section.filters-container button[type="back-arrow"]:before {
              color: #fff;
              position: absolute;
              top: 50%;
              right: 18px; }
          html body hgroup aside section.filters-container > * {
            transition: transform 200ms ease-in-out; }
          html body hgroup aside section.filters-container header {
            top: 0;
            padding: 0 10px;
            background: #242526; }
            html body hgroup aside section.filters-container header label {
              color: #6c6f71;
              line-height: 46px; }
            html body hgroup aside section.filters-container header button {
              background: transparent;
              border: none;
              float: right;
              color: #a0a2a4;
              padding: 5px;
              font-size: 1.2em;
              line-height: 35px; }
          html body hgroup aside section.filters-container filters {
            box-sizing: border-box;
            display: block;
            padding: 10px;
            color: #86888b;
            top: 46px; }
            html body hgroup aside section.filters-container filters searchbox {
              display: block;
              width: 100%;
              position: relative; }
              html body hgroup aside section.filters-container filters searchbox label[for="keyword"] {
                position: absolute;
                top: 37%;
                font-size: 1.5em;
                left: 8px; }
              html body hgroup aside section.filters-container filters searchbox input[type="search"] {
                width: 100%;
                border: none;
                border-radius: 2em;
                padding: 5px;
                box-sizing: border-box;
                text-indent: 30px;
                background: #3a3c3d;
                color: #eeeeef;
                margin: 15px 0;
                line-height: 2; }
            html body hgroup aside section.filters-container filters list item {
              margin: 10px 5px;
              padding-bottom: 5px;
              border-bottom: 1px solid #3a3c3d;
              color: #d4d5d6; }
              html body hgroup aside section.filters-container filters list item input[type="checkbox"] {
                margin-right: 10px;
                background: #535557;
                border: none;
                height: 12px;
                width: 12px;
                border-radius: 3px;
                -webkit-appearance: initial;
                display: inline-block;
                -webkit-transition: all 130ms ease-in-out;
                transition: all 130ms ease-in-out; }
                html body hgroup aside section.filters-container filters list item input[type="checkbox"]:checked {
                  background: #39d;
                  -webkit-transform: scale(0.75); }
                  html body hgroup aside section.filters-container filters list item input[type="checkbox"]:checked + label {
                    color: #39d; }
              html body hgroup aside section.filters-container filters list item label {
                width: 80%;
                display: inline-block;
                cursor: pointer; }
            html body hgroup aside section.filters-container filters button[name="clear-all"] {
              padding: 7px 10px;
              border: none;
              background: transparent;
              border-radius: 4px;
              margin-top: 35px; }
          html body hgroup aside section.filters-container credits {
            color: #535557;
            display: block;
            width: 200px;
            bottom: 0;
            left: 15px;
            padding: 10px; }
            html body hgroup aside section.filters-container credits span.powered-by {
              font-size: 0.8em; }
            html body hgroup aside section.filters-container credits h4.bullhorn {
              color: #fff;
              font-weight: 300;
              text-transform: uppercase;
              letter-spacing: 3px;
              margin-top: 5px; }
              html body hgroup aside section.filters-container credits h4.bullhorn span {
                color: red; }
      html body hgroup main {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        overflow: scroll;
        z-index: 99;
        /* View Container */ }
        html body hgroup main header {
          position: fixed;
          width: 100%;
          background: #39d;
          color: #fff;
          font-weight: 300;
          padding: 0 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          z-index: 999; }
          html body hgroup main header button[name="filters-menu"] {
            display: none;
            background: transparent;
            border: none; }
          html body hgroup main header button[name="over-arrow-back"] {
            display: none;
            background: transparent;
            border: none;
            font-size: 1.3em; }
          html body hgroup main header h2 {
            margin: 0;
            color: white;
            display: inline-block; }
          html body hgroup main header feed {
            display: inline-block;
            cursor: pointer;
            margin-left: 15px; }
        html body hgroup main ng-view {
          display: block;
          padding: 58px 10px 10px 10px;
          min-width: 320px;
          box-sizing: border-box; }
          html body hgroup main ng-view section {
            /* Job Overview Styles */ }
            html body hgroup main ng-view section card {
              display: block;
              background: #fff;
              box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
              padding: 10px;
              box-sizing: border-box;
              margin: 4px;
              vertical-align: top; }
            html body hgroup main ng-view section.jobs {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-content: flex-start;
              align-items: flex-start; }
              html body hgroup main ng-view section.jobs h5 {
                color: #cecece;
                font-weight: 400;
                font-size: 1.3em;
                display: block;
                width: 100%;
                margin: 10px 0; }
              html body hgroup main ng-view section.jobs card {
                cursor: pointer; }
                html body hgroup main ng-view section.jobs card:hover {
                  background: #f9f9f9; }
                html body hgroup main ng-view section.jobs card .key-container h3 {
                  text-transform: uppercase;
                  max-width: 300px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #39d; }
                html body hgroup main ng-view section.jobs card .key-container span {
                  color: #9fa0a4;
                  font-size: 1.1em;
                  font-weight: 600; }
                  html body hgroup main ng-view section.jobs card .key-container span.item-loc, html body hgroup main ng-view section.jobs card .key-container span.item-type {
                    color: #6b6d71; }
                  html body hgroup main ng-view section.jobs card .key-container span.item-description {
                    margin-top: 10px;
                    font-family: 'PT Serif';
                    color: #5f6064;
                    font-weight: 400; }
                html body hgroup main ng-view section.jobs card a.joblist-apply {
                  color: #7abd00; }
            html body hgroup main ng-view section.job-overview {
              display: flex;
              align-items: flex-start;
              flex-direction: row; }
              html body hgroup main ng-view section.job-overview card {
                padding: 25px;
                align-self: stretch;
                overflow: scroll; }
                html body hgroup main ng-view section.job-overview card.description {
                  display: inline-block; }
                  html body hgroup main ng-view section.job-overview card.description h2 {
                    display: inline-block;
                    font-weight: 500;
                    color: #46474A; }
                  html body hgroup main ng-view section.job-overview card.description div.job-actions {
                    float: right;
                    display: inline-block;
                    overflow: auto; }
                    html body hgroup main ng-view section.job-overview card.description div.job-actions div.share-outlets {
                      display: inline-block;
                      float: right;
                      box-sizing: border-box;
                      border-right: 1px solid transparent;
                      padding-right: 20px; }
                      html body hgroup main ng-view section.job-overview card.description div.job-actions div.share-outlets a:nth-child(1) {
                        -webkit-transition-delay: 300ms;
                        transition-delay: 300ms; }
                      html body hgroup main ng-view section.job-overview card.description div.job-actions div.share-outlets a:nth-child(2) {
                        -webkit-transition-delay: 200ms;
                        transition-delay: 200ms; }
                      html body hgroup main ng-view section.job-overview card.description div.job-actions div.share-outlets a:nth-child(3) {
                        -webkit-transition-delay: 100ms;
                        transition-delay: 100ms; }
                      html body hgroup main ng-view section.job-overview card.description div.job-actions div.share-outlets a:nth-child(4) {
                        -webkit-transition-delay: 0ms;
                        transition-delay: 0ms; }
                      html body hgroup main ng-view section.job-overview card.description div.job-actions div.share-outlets a {
                        padding: 5px 10px;
                        box-sizing: border-box;
                        display: inline-block;
                        opacity: 0;
                        -webkit-transition: all 100ms ease;
                        transition: all 100ms ease;
                        -webkit-transform: translateX(15px);
                        transform: translateX(15px); }
                    html body hgroup main ng-view section.job-overview card.description div.job-actions.share-open button[name="share"] {
                      opacity: .5; }
                    html body hgroup main ng-view section.job-overview card.description div.job-actions.share-open div.share-outlets {
                      border-right: 1px solid #DBDBDB; }
                      html body hgroup main ng-view section.job-overview card.description div.job-actions.share-open div.share-outlets a {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        transform: translateX(0); }
                    html body hgroup main ng-view section.job-overview card.description div.job-actions button[name="share"],
                    html body hgroup main ng-view section.job-overview card.description div.job-actions button[name="print"] {
                      float: right;
                      display: inline-block;
                      border: none;
                      background: transparent;
                      margin-left: 15px;
                      font-size: 1.3em;
                      color: #6b6d71; }
                      html body hgroup main ng-view section.job-overview card.description div.job-actions button[name="share"] span,
                      html body hgroup main ng-view section.job-overview card.description div.job-actions button[name="print"] span {
                        margin-right: 5px; }
                  html body hgroup main ng-view section.job-overview card.description p {
                    font-family: 'PT Serif';
                    font-size: 1.2em;
                    line-height: 1.6em;
                    color: #5f6064;
                    text-align: justify; }
                html body hgroup main ng-view section.job-overview card.apply {
                  width: 48%;
                  min-width: 300px;
                  display: inline-block; }
                  html body hgroup main ng-view section.job-overview card.apply > * {
                    display: block; }
                  html body hgroup main ng-view section.job-overview card.apply span.date-added {
                    color: #9fa0a4; }
                  html body hgroup main ng-view section.job-overview card.apply h1.title {
                    color: #46474A;
                    -webkit-transition: font-size 120ms linear;
                    -ms-transition: font-size 120ms linear;
                    -moz-transition: font-size 120ms linear;
                    -o-transition: font-size 120ms linear;
                    transition: font-size 120ms linear; }
                  html body hgroup main ng-view section.job-overview card.apply h3.category {
                    color: #9fa0a4; }
                  html body hgroup main ng-view section.job-overview card.apply div.loc-type {
                    margin-bottom: 25px; }
                  html body hgroup main ng-view section.job-overview card.apply button[name="apply"] {
                    width: 100%;
                    border: none;
                    background: #7abd00;
                    color: #fff;
                    padding: 10px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    font-weight: 600; }
                  html body hgroup main ng-view section.job-overview card.apply hr {
                    border: none;
                    height: 1px;
                    background: #E8E8E8;
                    margin: 15px 0; }
                  html body hgroup main ng-view section.job-overview card.apply list item .location {
                    display: block; }
                  html body hgroup main ng-view section.job-overview card.apply a.category-filter {
                    padding: 10px 0px 10px 0px; }
                    html body hgroup main ng-view section.job-overview card.apply a.category-filter i {
                      float: right; }
    html body.overview-open aside {
      width: 46px; }
      html body.overview-open aside:hover {
        cursor: pointer;
        background: #353738;
        width: 76px; }
        html body.overview-open aside:hover section.filters-container header {
          background: #2e2f30; }
        html body.overview-open aside:hover section.filters-container button[type="back-arrow"] {
          width: 60px; }
      html body.overview-open aside section.filters-container > * {
        -webkit-transform: translateX(-400px);
        transform: translateX(-400px); }
      html body.overview-open aside section.filters-container button[type="back-arrow"] {
        -webkit-transform: translateX(0px) !important;
        transform: translateX(0px) !important; }
    html body.grid-view aside section.filters-container header button {
      /* Change Grid Button Color */ }
      html body.grid-view aside section.filters-container header button.icon-view-module {
        color: #fff; }
    html body.grid-view main ng-view section.jobs card {
      width: 32%;
      padding-bottom: 45px; }
      html body.grid-view main ng-view section.jobs card > * {
        display: block; }
      html body.grid-view main ng-view section.jobs card .key-container > * {
        display: block; }
      html body.grid-view main ng-view section.jobs card .key-container h3.item-title {
        margin-bottom: 5px; }
      html body.grid-view main ng-view section.jobs card .key-container span.item-cat:first-of-type {
        margin-top: 15px; }
      html body.grid-view main ng-view section.jobs card .key-container span.item-loc {
        margin-top: 15px; }
      html body.grid-view main ng-view section.jobs card .key-container span.item-type {
        margin: 0 0 15px 0; }
      html body.grid-view main ng-view section.jobs card hr {
        border: none;
        margin: 20px -10px 10px -10px;
        height: 1px;
        background: #f4f4f4; }
      html body.grid-view main ng-view section.jobs card i {
        display: none; }
      html body.grid-view main ng-view section.jobs card a.joblist-apply {
        width: 100%;
        padding: 15px;
        text-align: center;
        box-sizing: border-box; }
    html body.list-view aside section.filters-container header button {
      /* Change List Button Color */ }
      html body.list-view aside section.filters-container header button.icon-view-list {
        color: #fff; }
    html body.list-view main ng-view section.jobs card {
      overflow: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: stretch; }
      html body.list-view main ng-view section.jobs card > * {
        display: inline-block; }
      html body.list-view main ng-view section.jobs card .key-container > * {
        display: inline-block;
        margin: 0 15px; }
      html body.list-view main ng-view section.jobs card .key-container span.item-description {
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      html body.list-view main ng-view section.jobs card hr {
        display: none; }
      html body.list-view main ng-view section.jobs card a.joblist-apply {
        padding: 20px;
        width: 85px; }
      html body.list-view main ng-view section.jobs card i {
        cursor: pointer;
        color: #39d;
        font-size: 1.3em;
        padding: 10px;
        box-sizing: border-box;
        line-height: 14px;
        margin-top: 7px;
        opacity: .7; }
        html body.list-view main ng-view section.jobs card i:hover {
          opacity: 1; }

/* ==============
    Animations
===============*/
/*==== Fade In (Used on Views) ====*/
.fade {
  opacity: 1; }

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: opacity 220ms ease-in-out;
  -ms-transition: opacity 220ms ease-in-out;
  -moz-transition: opacity 220ms ease-in-out;
  -o-transition: opacity 220ms ease-in-out;
  transition: opacity 220ms ease-in-out; }

.fade.ng-enter {
  opacity: 0; }

.fade.ng-enter-active {
  opacity: 1; }

.fade.ng-leave {
  opacity: 1; }

.fade.ng-leave-active {
  opacity: 0; }

/*==== Slide Up Items (Used on Views) ====*/
.slide-up-item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.slide-up-item.ng-enter,
.slide-up-item.ng-leave {
  -webkit-transition: all 120ms ease-in-out;
  -ms-transition: all 120ms ease-in-out;
  -moz-transition: all 120ms ease-in-out;
  -o-transition: all 120ms ease-in-out;
  transition: all 120ms ease-in-out; }

.slide-up-item.ng-enter, .slide-up-item.ng-move {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0; }

.slide-up-item.ng-enter-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.slide-up-item.ng-leave {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

.slide-up-item.ng-leave-active {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0; }

/**
 * Stagger Leave (hide) animation
 */
.slide-up-item.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }

/**
 * Stagger ENTER ANIMATION
 */
.slide-up-item.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }

/*==== Pop Open (Used on Modal @ larger device widths) ====*/
@-webkit-keyframes pop-open {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0; }
  40% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop-open {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0; }
  40% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes pop-open {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0; }
  40% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes pop-open {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0; }
  40% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes pop-open {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0; }
  40% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*==== Pop Open (Used on Modal @ larger device widths) ====*/
@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  60% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-moz-keyframes slide-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  60% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-ms-keyframes slide-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  60% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-o-keyframes slide-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  60% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0; }
  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  60% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
/*==== Slide Left (Used on Overview Cards) ====*/
@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@-moz-keyframes slide-left {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@-ms-keyframes slide-left {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@-o-keyframes slide-left {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
@keyframes slide-left {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
.slide-left {
  -webkit-animation: slide-left 550ms;
  -ms-animation: slide-left 550ms;
  -moz-animation: slide-left 550ms;
  -o-animation: slide-left 550ms;
  animation: slide-left 550ms; }

.pop-open {
  -webkit-animation: pop-open 200ms ease-in-out;
  -ms-animation: pop-open 200ms ease-in-out;
  -moz-animation: pop-open 200ms ease-in-out;
  -o-animation: pop-open 200ms ease-in-out;
  animation: pop-open 200ms ease-in-out; }

.slide-up {
  -webkit-animation: slide-up 400ms ease-in-out;
  -ms-animation: slide-up 400ms ease-in-out;
  -moz-animation: slide-up 400ms ease-in-out;
  -o-animation: slide-up 400ms ease-in-out;
  animation: slide-up 400ms ease-in-out; }

@media (max-width: 1100px) {
  html body hgroup aside {
    display: none; }
  html body hgroup main header button[name="filters-menu"] {
    display: inline-block; }
  html body hgroup main header button[name="over-arrow-back"] {
    display: none; } }
@media (min-width: 1100px) {
  html body hgroup aside {
    display: block !important; }
  html body hgroup main header button[name="filters-menu"] {
    display: none; }
  html body hgroup main header button[name="over-arrow-back"] {
    display: none; } }
@media (max-width: 1100px) {
  html body.overview-open hgroup main header button[name="filters-menu"] {
    display: none; }
  html body.overview-open hgroup main header button[name="over-arrow-back"] {
    display: inline-block; } }
@media (max-width: 850px) {
  html body.overview-open div.modal-container modal {
    margin: auto;
    height: 100%; }
  html body.overview-open hgroup main ng-view section.job-overview {
    flex-direction: column-reverse;
    align-items: flex-start; }
    html body.overview-open hgroup main ng-view section.job-overview card {
      width: 100%;
      margin: 0; }
      html body.overview-open hgroup main ng-view section.job-overview card.apply {
        position: fixed;
        margin: -10px; }
        html body.overview-open hgroup main ng-view section.job-overview card.apply h1.title.min {
          font-size: 1.3em; }
        html body.overview-open hgroup main ng-view section.job-overview card.apply .related-jobs {
          display: none; }
      html body.overview-open hgroup main ng-view section.job-overview card.description {
        margin-top: 75%; }
        html body.overview-open hgroup main ng-view section.job-overview card.description .job-actions button[name="print"] {
          display: none; }
        html body.overview-open hgroup main ng-view section.job-overview card.description .job-actions .share-outlets {
          padding-right: 10px; }
      html body.overview-open hgroup main ng-view section.job-overview card button[name="print"] {
        display: none; } }
@media (max-width: 900px) {
  html body.grid-view hgroup main ng-view section.jobs card {
    width: 48%; } }
@media (max-width: 700px) {
  html body.grid-view hgroup main ng-view section.jobs card {
    width: 100%; } }
@media (max-width: 900px) {
  html body.list-view hgroup main ng-view section.jobs card span {
    display: block; }
    html body.list-view hgroup main ng-view section.jobs card span.item-type, html body.list-view hgroup main ng-view section.jobs card span.item-date, html body.list-view hgroup main ng-view section.jobs card span.item-description {
      display: none; } }
@media (max-width: 700px) {
  html body.list-view hgroup main ng-view section.jobs card .item-title {
    width: 100%;
    max-width: 80%; } }

/* ==============
   Print Styles
===============*/
@media print {
  html {
    overflow: visible; }
    html body {
      overflow: visible; }
      html body.overview-open {
        overflow: visible; }
        html body.overview-open hgroup aside {
          display: none; }
        html body.overview-open hgroup main {
          overflow: visible; }
          html body.overview-open hgroup main header {
            width: 100%; }
            html body.overview-open hgroup main header button[name="filters-menu"] {
              display: none; }
            html body.overview-open hgroup main header button[name="over-arrow-back"] {
              display: none; }
          html body.overview-open hgroup main ng-view section.job-overview card {
            display: block;
            margin-top: 10px !important;
            margin: 10px 0;
            padding: 5px;
            position: relative; }
            html body.overview-open hgroup main ng-view section.job-overview card .job-actions {
              display: none !important; }
            html body.overview-open hgroup main ng-view section.job-overview card.apply {
              position: relative !important; }
              html body.overview-open hgroup main ng-view section.job-overview card.apply div.related-jobs {
                display: none; }
              html body.overview-open hgroup main ng-view section.job-overview card.apply button[name="apply"] {
                display: none; } }

/*# sourceMappingURL=main.css.map */
