:host {
  background-color: var(--darkest-bg);
  novo-form {
    margin-top: 30px;
    padding-right: 20px;
  }
  > section.credits {
    padding: 27px 0 0 20px;

    span.powered-by {
        font-size: 1em;
    }

    .bullhorn {
      display: block;
      position: relative;
      bottom: 20px;
      margin: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    position: absolute;
    left: -80%;
    transition: all 0.2s ease-in-out;
    &.active{
      position: initial;
      left: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    .header{
      >header {
        color: var(--job-header);
        h1 {
          color: var(--primary-light);
        }
        util-action {
          display: none;
        }
      }
    }
  }
}
