<novo-modal>
    <header class="apply-modal-header" [title]="job.title" theme="neutral" >
      <utils>
        <util-action icon="times" (click)="close()"></util-action>
      </utils>
      <div class="job-details">{{ job.publishedCategory.name }}</div>
      <div class="job-details">{{ job.address.city }}<span *ngIf="job.address.city && job.address.state">,&nbsp;</span>{{ job.address.state }}
        <span class="separator" *ngIf="(job.address.city || job.address.state) && job.employmentType">|</span>
        <!-- TYPE -->
        <span class="type">{{ job.employmentType }}</span>
      </div>
    </header>
    <section *ngIf="!loading">
      <novo-form [form]="form" layout="vertical">
          <div *ngFor="let control of formControls" class="novo-form-row">
            <novo-control [form]="form" [control]="control"></novo-control>
          </div>
          <div class="eeoc-form" *ngIf="eeocControls.length">
            <h2>{{ 'EEOC_FORM_DESCRIPTION' | translate }}</h2>
            <div *ngFor="let control of eeocControls" class="novo-form-row">
              <novo-control [form]="form" [control]="control"></novo-control>
            </div>
          </div>
      </novo-form>
    </section>
    <button theme="standard" (click)="close()" data-automation-id="create-modal-cancel">{{ 'CANCEL' | translate}}</button>
    <button theme="primary" icon="check" [disabled]="!form.valid || applying" (click)="save()" data-automation-id="create-modal-save"> {{ 'APPLY' | translate}} </button>
  </novo-modal>
