body {
  &.list-view {
    div.card-wrapper {
      display: flex;
      flex-direction: column;

      > a.card {
        flex: 1;
        margin-bottom: 1.5em;
        overflow: hidden;
        cursor: pointer;

        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > i {
          order: 5;
        }

        > .card-date {
          flex: 1;
          color: lighten($dark-bg, 40%);
          font-weight: 500;
          font-size: 1.1em;
          order: 4;
          text-align: center;
          display: none;

          @include tablet() {
            display: block;
          }
        }

        > .card-title-category {
          width: 40%;

          > .card-title {
            margin: 0 0 0.2em;
          }

          > .card-category {
            font-size: 1.2em;
            margin: 0;
          }
        }

        > .card-location, > .card-type {
          flex: 1;
          text-align: center;
        }

        > .card-separator {
          display: none;
        }

        > .card-description {
          order: 6;
          width: 100%;
          margin-top: 1em;
          color: lighten($dark-bg, 20%);
          line-height: 1em;
          font-weight: 500;
          height: 1em;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  &.grid-view {
    div.card-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: row wrap;
      justify-content: space-between;

      > a.card {
        width: 100%;
        margin-bottom: 1.5em;
        height: 360px;
        background: $white;
        padding: 1em;
        overflow: hidden;
        cursor: pointer;
        display: block;

        @include tablet() {
          width: 49%;
        }

        @include large-desktop() {
          width: 32%;
        }

        > i {
          display: none;
        }

        > .card-description {
          margin-top: 1em;
          color: lighten($dark-bg, 20%);
          line-height: 1.5em;
          font-weight: 500;
          display: block;
          word-break: break-all;
        }
      }
    }
  }

}

section.job-list {
  flex: 1;
  padding: 1.5em;

  > h4 {
    color: darken($light-bg, 15%);
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0 1em;
  }

  > p.load-more-data {
    text-align: center;
    margin: 0 0 1.5em;
    font-size: 1.2em;
    cursor: pointer;
  }
}