.frame {
  display: flex;
  flex-direction: row;
  app-sidebar {
    width: 30%;        
    flex-grow: 0;
    height: calc(100vh - 55px);    
    max-width: 300px;
    min-width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .list {
    width: 80%;
    flex-grow: 1000;
    overflow-y: auto;
    height: calc(100vh - 55px);
  }

}