<novo-loading *ngIf="loading"></novo-loading>
<div class="frame" [ngStyle]="{display: loading ? 'none': 'flex'}">
    <app-sidebar (newFilter)="onSidebarFilter($event)" [display]="displaySidebar" (toggleSidebar)="toggleSidebar($event)" [ngStyle]="sidebarCss"></app-sidebar>
    <div class="list">
        <app-job-list [filterCount]="filterCount" [filter]="listFilter" [sidebarVisible]="displaySidebar" (displaySidebar)="toggleSidebar($event)" (showLoading)="handleListLoad($event)"></app-job-list>
    </div>
</div>

