<section class="job-detail">
    <div class="card apply" data-ng-if="detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen">
        <span class="card-date" data-ng-if="detail.job.dateLastPublished">{{'common.addedLabel' | i18n}} - {{detail.job.dateLastPublished | displayDate}}</span>

        <span class="card-title-category">
            <span class="card-title">{{::detail.job.title}}</span>
            <span class="card-category">{{::detail.job.publishedCategory.name}}</span>
        </span>

        <span class="card-location">
            {{::detail.job.address.city}}<span data-ng-if="::(detail.job.address.city && detail.job.address.state)">,&nbsp;</span>{{::detail.job.address.state}}
        </span>

        <span class="card-separator" data-ng-show="::((detail.job.address.city || detail.job.address.state) && detail.job.employmentType)">|</span>
        <span class="card-type">{{::detail.job.employmentType}}</span>

        <button class="apply" data-ng-hide="detail.isIOS && !detail.verifyLinkedInIntegration()" data-ng-click="detail.applyModal()">{{'detail.applyButton' | i18n}}</button>

        <hr data-ng-if="detail.relatedJobs.length !== 0"/>

        <div class="related-jobs" data-ng-if="detail.relatedJobs.length !== 0">
            <h5>{{'detail.relatedLabel' | i18n}} {{::detail.job.publishedCategory.name}} {{'common.jobsLabel' | i18n}}</h5>

            <div class="related-job" data-ng-repeat="job in detail.relatedJobs">
                <a ng-href="#/jobs/{{::job.id}}">{{::job.title}}</a>
                <span class="location">{{::job.address.city}}<span data-ng-if="::(job.address.city && job.address.state)">, </span>{{::job.address.state}}</span>
            </div>
        </div>

        <hr/>

        <a href data-ng-click="detail.loadJobsWithCategory(detail.job.publishedCategory.id)" class="category-filter">{{'detail.viewAllJobsLabel' | i18n}}<i class="bhi-arrow-right"></i></a>

        <div class='ios-upload-warning' data-ng-if="detail.isIOS  && !detail.verifyLinkedInIntegration()">
            <div>{{'detail.iosUploadWarning' | i18n}}</div>
        </div>
        <div class='send' data-ng-if="detail.isIOS && !detail.verifyLinkedInIntegration()">
            <input class="email" type="text" data-ng-model="detail.email" id="email" name="email" data-i18n-attr="{placeholder: 'common.emailPlaceholder'}">
            <a class="send" data-ng-href="{{ detail.sendEmailLink() }}">{{'detail.sendButton' | i18n}}</a>
        </div>

    </div>
    <div class="card description" data-ng-if="detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen">
        <div class="job-heading">
            <span class="fill"></span>

            <div class="job-actions" data-ng-class="{ 'share-open' : detail.open }">
                <div class="share-outlets">
                    <a data-ng-href="{{ detail.emailLink() }}"><i class="bhi-email"></i></a>
                    <a href data-ng-click="detail.shareTwitter();"><i class="bhi-twitter"></i></a>
                    <a href data-ng-click="detail.shareFacebook();"><i class="bhi-facebook"></i></a>
                    <a href data-ng-click="detail.shareLinkedin();"><i class="bhi-linkedin"></i></a>
                </div>
                <button name="share" data-ng-click="detail.open = !detail.open;">
                    <i class="bhi-share"></i> {{'common.shareLabel' | i18n}}
                </button>
                <button name="print" data-ng-click="detail.print();">
                    <i class="bhi-print"></i> {{'common.printLabel' | i18n}}
                </button>
            </div>

            <h2>{{'detail.jobDescriptionHeading' | i18n}}</h2>
        </div>
        <div class="job-details" data-ng-bind-html="detail.job.publicDescription"></div>
    </div>
    <div class="no-data-message" data-ng-if="!(detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen)">
        <h2>{{'common.noDataHeading' | i18n}}</h2>

        <h3>{{'detail.jobClosedMessage' | i18n}}</h3>

        <p>
            {{'detail.jobClosedOtherJobsLabel' | i18n}}
            <a href data-ng-click="detail.loadJobsWithCategory(detail.job.publishedCategory.id)">{{'common.hereLabel' | i18n}}</a>
        </p>
    </div>
</section>
