<section class="job-detail">
    <!-- APPLY CARD -->
    <div class="card apply" data-ng-if="detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen">
        <!-- JOB PUBLICATION DATE -->
        <span class="card-date" data-ng-if="detail.job.dateLastPublished">{{'common.addedLabel' | i18n}} - {{detail.job.dateLastPublished | displayDate}}</span>
        <!-- TITLE & CATEGORY -->
        <span class="card-title-category">
            <span class="card-title">{{::detail.job.title}}</span>
            <span class="card-category">{{::detail.job.publishedCategory.name}}</span>
        </span>
        <!-- LOCATION -->
        <span class="card-location">
            {{::detail.job.address.city}}<span data-ng-if="::(detail.job.address.city && detail.job.address.state)">,&nbsp;</span>{{::detail.job.address.state}}
        </span>
        <!-- SEPARATOR -->
        <span class="card-separator" data-ng-show="::((detail.job.address.city || detail.job.address.state) && detail.job.employmentType)">&nbsp;|&nbsp;</span>
        <!-- JOB TYPE -->
        <span class="card-type">{{::detail.job.employmentType.toString()}}</span>
        <!-- APPLY BUTTON -->
        <button class="apply" data-ng-click="detail.applyModal()" data-ng-disabled="detail.alreadyApplied" data-ng-class="{ 'disabled': detail.alreadyApplied }">
            <span data-ng-if="!detail.alreadyApplied">{{'detail.applyButton' | i18n}}</span>
            <span data-ng-if="detail.alreadyApplied">{{'detail.alreadyApplied' | i18n}}</span>
        </button>


        <!-- CONDITIONAL DIVIDER -->
        <hr data-ng-if="detail.relatedJobs.length !== 0"/>
        <!-- RELATED JOBS -->
        <div class="related-jobs" data-ng-if="detail.relatedJobs.length !== 0">
            <!-- JOB CATEGORY -->
            <h5>{{'detail.relatedLabel' | i18n}} {{::detail.job.publishedCategory.name}} {{'common.jobsLabel' | i18n}}</h5>
            <!-- JOBS -->
            <div class="related-job" data-ng-repeat="job in detail.relatedJobs">
                <a data-ng-href="#/jobs/{{::job.id}}">{{::job.title}}</a>
                <span class="location">{{::job.address.city}}<span data-ng-if="::(job.address.city && job.address.state)">, </span>{{::job.address.state}}</span>
            </div>
        </div>
        <!-- BREAK -->
        <hr/>
        <!-- VIEW ALL JOBS IN CATEGORY LINK -->
        <a href data-ng-click="detail.loadJobsWithCategory(detail.job.publishedCategory.id)" class="category-filter">{{'detail.viewAllJobsLabel' | i18n}}<i class="bhi-arrow-right"></i></a>
    </div>
    <!-- DESCRIPTION CARD -->
    <div class="card description" data-ng-if="detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen">
        <!-- JOB HEADING -->
        <div class="job-heading">
            <span class="fill"></span>
            <!-- SOCIAL ACTIONS -->
            <div class="job-actions" data-ng-class="{ 'share-open' : detail.open }">
                <div class="share-outlets">
                    <a data-ng-href="{{ detail.emailLink() }}"><i class="bhi-email"></i></a>
                    <a href data-ng-click="detail.shareTwitter();"><i class="bhi-twitter"></i></a>
                    <a href data-ng-click="detail.shareFacebook();"><i class="bhi-facebook"></i></a>
                    <a href data-ng-click="detail.shareLinkedin();"><i class="bhi-linkedin"></i></a>
                </div>
                <!-- SHARE BUTTON -->
                <button name="share" data-ng-click="detail.open = !detail.open;">
                    <i class="bhi-share"></i> {{'common.shareLabel' | i18n}}
                </button>
                <!-- PRINT BUTTON -->
                <button name="print" data-ng-click="detail.print();">
                    <i class="bhi-print"></i> {{'common.printLabel' | i18n}}
                </button>
            </div>

            <h2>{{'detail.jobDescriptionHeading' | i18n}}</h2>
        </div>
        <!-- JOB DETAILS -->
        <div class="job-details" data-ng-bind-html="detail.job.publicDescription"></div>
    </div>
    <!-- NO DATA MESSAGE -->
    <div class="no-data-message" data-ng-if="!(detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen)">
        <!-- NO DATA HEADING -->
        <h2>{{'common.noDataHeading' | i18n}}</h2>
        <!-- JOB CLOSED -->
        <h3>{{'detail.jobClosedMessage' | i18n}}</h3>
        <!-- OTHER JOBS -->
        <p>
            {{'detail.jobClosedOtherJobsLabel' | i18n}}
            <a href data-ng-click="detail.loadJobsWithCategory(detail.job.publishedCategory.id)">{{'common.hereLabel' | i18n}}</a>
        </p>
    </div>
</section>
