<section class="job-detail">
    <div class="card description">
        <div class="job-heading">
            <h2>{{::detail.configuration.text.overview.header}}</h2>

            <span class="fill"></span>

            <div class="job-actions" data-ng-class="detail.share">
                <div class="share-outlets">
                    <a data-ng-href="{{detail.emailLink(detail.job)}}" target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="javascript:;" data-ng-click="detail.shareTwitter(detail.job);"><i class="fa fa-twitter"></i></a>
                    <a href="javascript:;" data-ng-click="detail.shareFacebook(detail.job);"><i class="fa fa-facebook-official"></i></a>
                    <a href="javascript:;" data-ng-click="detail.shareLinkedin(detail.job);"><i class="fa fa-linkedin"></i></a>
                </div>
                <button name="share" data-ng-click="detail.openShare();">
                    <i class="fa fa-share-alt"></i> Share
                </button>
                <button name="print" data-ng-click="detail.print();">
                    <i class="fa fa-print"></i> Print
                </button>
            </div>
        </div>
        <div class="job-details" data-ng-bind-html="detail.job.publicDescription"></div>
    </div>
    <div class="card apply">
        <span class="card-date">{{detail.configuration.text.joblist.added}} - {{::detail.getDisplayDate(detail.job.dateLastPublished)}}</span>

        <span class="card-title-category">
            <span class="card-title">{{::detail.job.title}}</span>
            <span class="card-category">{{::detail.job.publishedCategory.name}}</span>
        </span>

        <span class="card-location">
            {{::detail.job.address.city}}<span data-ng-if="::(detail.job.address.city && detail.job.address.state)">, </span>{{::detail.job.address.state}}
        </span>

        <span class="card-separator" data-ng-show="::((detail.job.address.city || detail.job.address.state) && detail.job.employmentType)">|</span>
        <span class="card-type">{{::detail.job.employmentType}}</span>

        <button class="apply" data-ng-click="detail.applyModal()">{{::detail.configuration.text.overview.applyButtonLabel}}</button>

        <hr data-ng-if="detail.relatedJobs.length !== 0"/>

        <div class="related-jobs" data-ng-if="detail.relatedJobs.length !== 0">
            <h5>{{::detail.configuration.text.overview.relatedJobs}}</h5>

            <div class="related-job" data-ng-repeat="job in detail.relatedJobs">
                <a ng-href="#/jobs/{{::job.id}}">{{::job.title}}</a>
                <span class="separator" data-ng-show="::(job.publishedCategory)">|</span>
                <span class="category">{{::job.publishedCategory.name}}</span>
                <span class="location">{{::job.address.city}}<span data-ng-if="::(job.address.city && job.address.state)">, </span>{{::job.address.state}}</span>
            </div>
        </div>

        <hr/>

        <a href data-ng-click="detail.loadJobsWithCategory(detail.job.publishedCategory.id)" class="category-filter">{{::detail.configuration.text.overview.seeAll}}<i class="fa fa-arrow-right"></i></a>
    </div>
</section>