<div class="modal-container">
    <div class="modal slide-up" data-ng-class="{'success':!modal.showForm}">
        <header>
            <section data-ng-if="modal.showForm">
                <h2>{{modal.SearchService.currentDetailData.title}}</h2>
                <span class="category">{{modal.SearchService.currentDetailData.publishedCategory.name}}</span>

                <span class="location">
                    {{::modal.SearchService.currentDetailData.address.city}}<span data-ng-if="::(modal.SearchService.currentDetailData.address.city && modal.SearchService.currentDetailData.address.state)">,&nbsp;</span>{{::modal.SearchService.currentDetailData.address.state}}
                </span>
                <span class="separator" data-ng-show="::((modal.SearchService.currentDetailData.address.city || modal.SearchService.currentDetailData.address.state) && modal.SearchService.currentDetailData.employmentType)">|</span>
                <span class="type">{{::modal.SearchService.currentDetailData.employmentType}}</span>

                <i class="bhi-times close" data-ng-click="modal.closeModal(applyForm)"></i>
            </section>
            <section class="success" data-ng-if="!modal.showForm">
                <h2>{{'modal.successHeading' | i18n}}</h2>

                <h3>{{'modal.successSubHeading' | i18n}}</h3>
            </section>
        </header>
        <div class="main" data-ng-class="{'success':!modal.showForm}">
            <!-- LINKED IN APPLY BUTTON -->
            <button class="btn-li-lg">
                <i class="bhi-linkedin-o"></i>
                <span>Apply With LinkedIn</span>
            </button>

            <!-- LINKED IN ERROR -->
            <!--<div class="alert error">-->
                <!--<strong>Uh oh!</strong> Your LinkedIn integration could not be authorized.-->
            <!--</div>-->
            <hr />

            <form name="applyForm" class="apply-form" novalidate data-ng-show="modal.showForm">
                <div class="form-field">
                    <div class="input">
                        <span class="required">*</span>
                        <input type="text" name="firstName" value="" data-ng-model="modal.ApplyService.form.firstName" data-i18n-attr="{placeholder: 'modal.firstNamePlaceholder'}" required>
                    </div>
                    <span class="error" data-ng-show="applyForm.firstName.$dirty || applyForm.$submitted">
                        <span data-ng-show="applyForm.firstName.$error.required">{{'modal.firstNameValidation' | i18n}}</span>
                    </span>
                </div>
                <div class="form-field">
                    <div class="input">
                        <span class="required">*</span>
                        <input type="text" name="lastName" value="" data-ng-model="modal.ApplyService.form.lastName" data-i18n-attr="{placeholder: 'modal.lastNamePlaceholder'}" required>
                    </div>
                    <span class="error" data-ng-show="applyForm.lastName.$dirty || applyForm.$submitted">
                        <span data-ng-show="applyForm.lastName.$error.required">{{'modal.lastNameValidation' | i18n}}</span>
                    </span>
                </div>
                <div class="form-field">
                    <div class="input">
                        <span class="required">*</span>
                        <input type="email" name="email" value="" data-ng-model="modal.ApplyService.form.email" data-i18n-attr="{placeholder: 'common.emailPlaceholder'}" required>
                    </div>
                    <span class="error" data-ng-show="applyForm.email.$dirty || applyForm.$submitted">
                        <span data-ng-show="applyForm.email.$error.required">
                            {{'modal.emailValidationRequired' | i18n}}
                        </span>
                        <span data-ng-show="applyForm.email.$error.email">
                            {{'modal.emailValidationFormat' | i18n}}
                        </span>
                    </span>
                </div>
                <div class="form-field">
                    <div class="input">
                        <span>&nbsp;</span>
                        <input type="text" name="mobile-phone" value="" data-ng-model="modal.ApplyService.form.phone" data-i18n-attr="{placeholder: 'modal.phonePlaceholder'}">
                    </div>
                </div>


                <div class="form-field">
                    <textarea name="resume-text" ng-model="modal.ApplyService.form.resumeInfo" id="resume-text" cols="30" rows="10"></textarea>
                </div>

                <!-- UPLOAD LABEL -->
                <div class="upload-label" >
                    <span class="field-label">
                        {{'modal.resumeFilePlaceholder' | i18n}}
                        <i class="bhi-question" data-ng-if="!modal.isMobile" data-tooltips data-tooltip-class="accepted-formats" data-tooltip-show-trigger="mouseenter" data-tooltip-hide-trigger="mouseleave" data-tooltip-side="right" data-tooltip-title="Supported File Formats" data-tooltip-html="{{::modal.getTooltipText()}}"></i>
                    </span>
                    <span class="error" data-ng-show="!applyForm.$submitted && modal.resumeUploadErrorMessage">
                        {{modal.resumeUploadErrorMessage}}
                    </span>
                    <span class="error" data-ng-show="applyForm.$submitted && !modal.ApplyService.form.resumeInfo">
                        {{'modal.resumeValidation' | i18n}}
                    </span>

                    <div class="clearfix"></div>
                </div>
                <!-- RESUME UPLOAD -->
                <div class="form-field upload-container" data-ngf-select data-ng-model="modal.ApplyService.form.resumeInfo" data-ngf-min-size="modal.configuration.minUploadSize" data-ngf-max-size="modal.configuration.maxUploadSize" data-ngf-multiple="false" data-ngf-accept="applyForm.$submitted=false; modal.validateResume($file);">
                    <i data-ng-show="!modal.ApplyService.form.resumeInfo.name" class="bhi-publish"></i>
                    <i data-ng-show="modal.ApplyService.form.resumeInfo.name" class="bhi-resume"></i>
                    <span class="upload-text" data-ng-show="!modal.ApplyService.form.resumeInfo.name">{{'modal.uploadResumeFile' | i18n}}</span>
                    <span class="upload-text" data-ng-show="modal.ApplyService.form.resumeInfo.name">{{modal.ApplyService.form.resumeInfo.name}}</span>
                </div>
                <!-- ERROR MESSAGE -->
                <span class="error submit-error" data-ng-show="applyForm.$submitted && modal.ApplyService.ajaxError">
                    <i class="bhi-caution"></i> <span>{{modal.ApplyService.ajaxError}}</span>
                </span>

            </form>
            <footer data-ng-class="{'success':!modal.showForm}">
                <button data-ng-show="modal.showForm" name="cancel" data-ng-click="modal.closeModal(applyForm)">{{'modal.cancelButton' | i18n}}</button>
                <button data-ng-show="modal.showForm" name="submit" data-ng-click="modal.submit(applyForm)">
                    <span data-ng-if="!modal.isSubmitting">
                        {{'modal.submitButton' | i18n}}
                    </span>
                    <span data-ng-if="modal.isSubmitting">
                        <div class="loading">
                            {{'modal.submittingButton' | i18n}}
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                        </div>
                    </span>
                </button>
                <button data-ng-show="!modal.showForm" name="ok" data-ng-click="modal.closeModal(applyForm)">{{'modal.okButton' | i18n}}</button>
            </footer>
        </div>
    </div>
</div>
