<div class="modal-container" id="modal-container">
    <div class="modal slide-up" data-ng-class="{'success':!modal.showForm}">
        <!-- HEADER -->
        <header>
            <section data-ng-if="modal.showForm">
                <h2>{{ modal.SearchService.currentDetailData.title }}</h2>
                <!-- CATEGORY -->
                <span class="category">{{ modal.SearchService.currentDetailData.publishedCategory.name }}</span>
                <!-- LOCATION -->
                <span class="location">
                    {{ modal.SearchService.currentDetailData.address.city }}<span data-ng-if="(modal.SearchService.currentDetailData.address.city && modal.SearchService.currentDetailData.address.state)">,&nbsp;</span>{{ modal.SearchService.currentDetailData.address.state }}
                </span>
                <!-- SEPERATOR -->
                <span class="separator" data-ng-show="::((modal.SearchService.currentDetailData.address.city || modal.SearchService.currentDetailData.address.state) && modal.SearchService.currentDetailData.employmentType)">|</span>
                <!-- TYPE -->
                <span class="type">{{ ::modal.SearchService.currentDetailData.employmentType }}</span>
                <!-- CLOSE X -->
                <i class="bhi-times close" data-ng-click="modal.closeModal(applyForm)"></i>
            </section>
            <!-- SUCCESS MESSAGE -->
            <section class="success" data-ng-if="!modal.showForm">
                <h2>{{ 'modal.successHeading' | i18n }}</h2>
                <h3>{{ 'modal.successSubHeading' | i18n }}</h3>
            </section>
        </header>
        <!-- MAIN CONTENT -->
        <div class="main" data-ng-class="{'success':!modal.showForm}">
            <!-- APPLICANT FORM -->
            <section>
                <form name="applyForm" class="apply-form" novalidate data-ng-show="modal.showForm">
                    <!-- FIRST NAME -->
                    <div class="form-field">
                        <div class="input">
                            <span class="required">*</span>
                            <input type="text" name="firstName" value="" data-ng-model="modal.ApplyService.form.firstName" data-i18n-attr="{placeholder: 'modal.firstNamePlaceholder'}" required>
                        </div>
                        <span class="error" data-ng-show="applyForm.firstName.$dirty || applyForm.$submitted">
                            <span data-ng-show="applyForm.firstName.$error.required">{{ 'modal.firstNameValidation' | i18n }}</span>
                        </span>
                    </div>
                    <!-- LAST NAME -->
                    <div class="form-field">
                        <div class="input">
                            <span class="required">*</span>
                            <input type="text" name="lastName" value="" data-ng-model="modal.ApplyService.form.lastName" data-i18n-attr="{placeholder: 'modal.lastNamePlaceholder'}" required>
                        </div>
                        <span class="error" data-ng-show="applyForm.lastName.$dirty || applyForm.$submitted">
                            <span data-ng-show="applyForm.lastName.$error.required">{{ 'modal.lastNameValidation' | i18n }}</span>
                        </span>
                    </div>
                    <!-- EMAIL -->
                    <div class="form-field">
                        <div class="input">
                            <span class="required">*</span>
                            <input type="email" name="email" value="" data-ng-model="modal.ApplyService.form.email" data-i18n-attr="{placeholder: 'common.emailPlaceholder'}" required>
                        </div>
                        <span class="error" data-ng-show="applyForm.email.$dirty || applyForm.$submitted">
                            <span data-ng-show="applyForm.email.$error.required">
                                {{ 'modal.emailValidationRequired' | i18n }}
                            </span>
                            <span data-ng-show="applyForm.email.$error.email">
                                {{ 'modal.emailValidationFormat' | i18n }}
                            </span>
                        </span>
                    </div>
                    <!-- PHONE -->
                    <div class="form-field">
                        <div class="input">
                            <span>&nbsp;</span>
                            <input type="text" name="mobile-phone" value="" data-ng-model="modal.ApplyService.form.phone" data-i18n-attr="{placeholder: 'modal.phonePlaceholder'}">
                        </div>
                    </div>
                    <!-- TOOLTIP -->
                    <div class="tooltip-info" data-ng-show="!modal.isToolTipHidden">
                        <div ng-style="modal.tooltipStyle" class="tooltip-modal">
                            <div class="tooltip-info-closer">
                                <i class="bhi-close" data-ng-click="modal.hideTooltip()"></i>
                            </div>
                            <!-- FILE TYPE TOOL TIP -->
                            <div data-ng-if="modal.currentToolTip === 0">
                                <strong>{{ 'modal.supportedFileFormatsLabel' | i18n }}</strong>
                                <ul>
                                    <li data-ng-repeat="type in modal.configuration.acceptedResumeTypes">
                                        {{ type }}
                                    </li>
                                </ul>
                            </div>
                            <!-- EEOC GENDER, RACE, &, ETHNICITY -->
                            <div data-ng-if="modal.currentToolTip === 1" data-i18n="eeoc.genderRaceEthnicityHelp" data-companyName="{{ modal.configuration.companyName }}"></div>
                            <!-- ETHNICITY -->
                            <div data-ng-if="modal.currentToolTip === 2">
                                <ul>
                                    <li>{{ 'eeoc.raceEthnicityHL' | i18n }}: {{ 'eeoc.raceEthnicityHLHelp' | i18n }}</li>
                                    <li>{{ 'eeoc.raceEthnicityWH' | i18n }}: {{ 'eeoc.raceEthnicityWHHelp' | i18n }}</li>
                                    <li>{{ 'eeoc.raceEthnicityBL' | i18n }}: {{ 'eeoc.raceEthnicityBLHelp' | i18n }}</li>
                                    <li>{{ 'eeoc.raceEthnicityAS' | i18n }}: {{ 'eeoc.raceEthnicityASHelp' | i18n }}</li>
                                    <li>{{ 'eeoc.raceEthnicityNP' | i18n }}: {{ 'eeoc.raceEthnicityNPHelp' | i18n }}</li>
                                    <li>{{ 'eeoc.raceEthnicityIA' | i18n }}: {{ 'eeoc.raceEthnicityIAHelp' | i18n }}</li>
                                </ul>
                            </div>
                            <!-- PROTECTED VETERAN -->
                            <div data-ng-if="modal.currentToolTip === 3" data-i18n="eeoc.veteranHelp" data-companyName="{{ modal.configuration.companyName }}" data-companyName2="{{ modal.configuration.companyName }}" data-companyName3="{{ modal.configuration.companyName }}"></div>
                            <!-- DISABILITY -->
                            <p data-ng-if="modal.currentToolTip === 4" data-i18n="eeoc.disabilityHelp" data-companyName="{{ modal.configuration.companyName }}" data-companyName2="{{ modal.configuration.companyName }}"></p>
                            <p data-ng-if="modal.currentToolTip === 5" ng-bind-html="modal.privacyConsent.privacyStatementParagraphs" ></p>
                        </div>
                    </div>
                    <!-- UPLOAD LABEL -->
                    <div class="upload-label" data-ng-if="!modal.hasAttemptedLIApply">
                        <span class="field-label">
                            {{ 'modal.resumeFilePlaceholder' | i18n }}
                            <a data-ng-click="modal.showTooltip(0)"><i class="bhi-question"></i></a>
                        </span>
                        <span class="error" data-ng-show="!applyForm.$submitted && modal.resumeUploadErrorMessage">
                            {{ modal.resumeUploadErrorMessage }}
                        </span>
                        <span class="error" data-ng-show="applyForm.$submitted && !modal.ApplyService.form.resumeInfo">
                            {{ 'modal.resumeValidation' | i18n }}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <!-- RESUME UPLOAD -->
                    <div class="form-field upload-container needsclick" data-ngf-select data-ng-model="modal.ApplyService.form.resumeInfo" data-ngf-max-size="modal.configuration.maxUploadSize" data-ngf-multiple="false" data-ngf-accept="applyForm.$submitted=false; modal.validateResume($file);"  data-ng-if="!modal.hasAttemptedLIApply">
                        <i data-ng-show="!modal.ApplyService.form.resumeInfo.name" class="bhi-publish"></i>
                        <i data-ng-show="modal.ApplyService.form.resumeInfo.name" class="bhi-resume"></i>
                        <span class="upload-text" data-ng-show="!modal.ApplyService.form.resumeInfo.name">{{ 'modal.uploadResumeFile' | i18n }}</span>
                        <span class="upload-text" data-ng-show="modal.ApplyService.form.resumeInfo.name">{{ modal.ApplyService.form.resumeInfo.name }}</span>
                    </div>
                    <!-- ERROR MESSAGE -->
                    <span class="error submit-error" data-ng-if="!modal.isSubmitting && modal.ApplyService.ajaxError">
                        <i class="bhi-caution"></i> <span>{{ modal.ApplyService.ajaxError }}</span>
                    </span>
                    <div id="eeoc-fields">
                        <div data-ng-show="modal.EeocService.isGenderRaceEthnicityEnabled()">
                            <div class="eeoc-label">
                                <span class="eeoc-label-header">
                                    <h4>
                                        {{ 'eeoc.genderRaceEthnicityHeader' | i18n }}
                                        <a data-ng-click="modal.showTooltip(1)"><i class="bhi-question"></i></a>
                                    </h4>
                                </span>
                            </div>
                            <div class="form-field">
                                <div class="input eeoc">
                                    <label for="eeoc-gender">
                                            <span class="required">*</span>
                                            {{ 'eeoc.genderLabel' | i18n }}
                                        </label>
                                    <select id="eeoc-gender" data-ng-model="modal.ApplyService.form.gender" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled()">
                                        <option value="M">{{ 'eeoc.genderMale' | i18n }}</option>
                                        <option value="F">{{ 'eeoc.genderFemale' | i18n }}</option>
                                        <option value="D">{{ 'eeoc.genderNonIdent' | i18n }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="input eeoc">
                                    <label for="eeoc-ethnicity">
                                        <span class="required">*</span>
                                        {{ 'eeoc.raceEthnicityLabel' | i18n }}
                                        <a data-ng-click="modal.showTooltip(2)"><i class="bhi-question"></i></a>
                                    </label>
                                    <fieldset id="eeoc-ethnicity" class="checkboxgroup">
                                        <div class="eeoc-checkbox">
                                            <input id="eeoc-eth-HL" type="checkbox" value="HL" data-ng-model="modal.EeocService.selectedEthnicities['HL']" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled() && !modal.EeocService.isEthnicityChecked()" data-ng-click="modal.ApplyService.form.ethnicity = modal.EeocService.getCheckedEthnicities()" /><label for="eeoc-eth-HL">{{ 'eeoc.raceEthnicityHL' | i18n }}</label>
                                        </div>
                                        <div class="eeoc-checkbox">
                                            <input id="eeoc-eth-WH" type="checkbox" value="WH" data-ng-model="modal.EeocService.selectedEthnicities['WH']" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled() && !modal.EeocService.isEthnicityChecked()" data-ng-click="modal.ApplyService.form.ethnicity = modal.EeocService.getCheckedEthnicities()" /><label for="eeoc-eth-WH">{{ 'eeoc.raceEthnicityWH' | i18n }}</label>
                                        </div>
                                        <div class="eeoc-checkbox">
                                            <input id="eeoc-eth-BL" type="checkbox" value="BL" data-ng-model="modal.EeocService.selectedEthnicities['BL']" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled() && !modal.EeocService.isEthnicityChecked()" data-ng-click="modal.ApplyService.form.ethnicity = modal.EeocService.getCheckedEthnicities()" /><label for="eeoc-eth-BL">{{ 'eeoc.raceEthnicityBL' | i18n }}</label>
                                        </div>
                                        <div class="eeoc-checkbox">
                                            <input id="eeoc-eth-AS" type="checkbox" value="AS" data-ng-model="modal.EeocService.selectedEthnicities['AS']" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled() && !modal.EeocService.isEthnicityChecked()" data-ng-click="modal.ApplyService.form.ethnicity = modal.EeocService.getCheckedEthnicities()" /><label for="eeoc-eth-AS">{{ 'eeoc.raceEthnicityAS' | i18n }}</label>
                                        </div>
                                        <div class="eeoc-checkbox">
                                            <input id="eeoc-eth-NP" type="checkbox" value="NP" data-ng-model="modal.EeocService.selectedEthnicities['NP']" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled() && !modal.EeocService.isEthnicityChecked()" data-ng-click="modal.ApplyService.form.ethnicity = modal.EeocService.getCheckedEthnicities()" /><label for="eeoc-eth-NP">{{ 'eeoc.raceEthnicityNP' | i18n }}</label>
                                        </div>
                                        <div class="eeoc-checkbox">
                                            <input id="eeoc-eth-IA" type="checkbox" value="IA" data-ng-model="modal.EeocService.selectedEthnicities['IA']" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled() && !modal.EeocService.isEthnicityChecked()" data-ng-click="modal.ApplyService.form.ethnicity = modal.EeocService.getCheckedEthnicities()" /><label for="eeoc-eth-IA">{{ 'eeoc.raceEthnicityIA' | i18n }}</label>
                                        </div>
                                        <div class="eeoc-checkbox">
                                            <input id="eeoc-eth-DN" type="checkbox" value="DN" data-ng-model="modal.EeocService.selectedEthnicities['DN']" data-ng-required="modal.EeocService.isGenderRaceEthnicityEnabled() && !modal.EeocService.isEthnicityChecked()" data-ng-click="modal.ApplyService.form.ethnicity = modal.EeocService.getCheckedEthnicities()" /><label for="eeoc-eth-DN">{{ 'eeoc.raceEthnicityDN' | i18n }}</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="modal.EeocService.isVeteranEnabled()">
                            <div class="eeoc-label">
                                <span class="eeoc-label-header">
                                    <h4>
                                        {{ 'eeoc.veteranHeader' | i18n }}
                                        <a data-ng-click="modal.showTooltip(3)"><i class="bhi-question"></i></a>
                                    </h4>
                                </span>
                            </div>
                            <div class="form-field">
                                <div class="input eeoc">
                                    <label for="eeoc-veteran">
                                        <span class="required">*</span>
                                        {{ 'eeoc.veteranLabel' | i18n }}
                                    </label>
                                    <select id="eeoc-veteran" data-ng-model="modal.ApplyService.form.veteran" data-ng-required="modal.EeocService.isVeteranEnabled()">
                                        <option value="P">{{ 'eeoc.veteranP' | i18n }}</option>
                                        <option value="V">{{ 'eeoc.veteranV' | i18n }}</option>
                                        <option value="N">{{ 'eeoc.veteranN' | i18n }}</option>
                                        <option value="D">{{ 'eeoc.veteranD' | i18n }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="modal.EeocService.isDisabilityEnabled()">
                            <div class="eeoc-label">
                                <span class="eeoc-label-header">
                                    <h4>
                                        {{ 'eeoc.disabilityHeader' | i18n }}
                                        <a data-ng-click="modal.showTooltip(4)"><i class="bhi-question"></i></a>
                                    </h4>
                                </span>
                            </div>
                            <div class="form-field">
                                <div class="input eeoc">
                                    <label for="eeoc-disability">
                                        <span class="required">*</span>
                                        {{ 'eeoc.disabilityLabel' | i18n }}
                                    </label>
                                    <select id="eeoc-disability" data-ng-model="modal.ApplyService.form.disability" data-ng-required="modal.EeocService.isDisabilityEnabled()">
                                        <option value="Y">{{ 'eeoc.disabilityY' | i18n }}</option>
                                        <option value="N">{{ 'eeoc.disabilityN' | i18n }}</option>
                                        <option value="D">{{ 'eeoc.disabilityD' | i18n }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div ng-show="modal.privacyConsent.consentCheckbox" class="consent-checkbox-section">
                        <span class="required">*</span>
                        <input id="consent-checkbox" class="consent-checkbox" type="checkbox" ng-model="modal.consentValue"/>
                        <label for="consent-checkbox" class="consent-checkbox-label">{{ 'modal.byChecking' | i18n }}
                            <a data-ng-click="modal.showTooltip(5)" ng-href="{{modal.privacyConsent.privacyPolicyUrl}}">{{ 'modal.privacyPolicy' | i18n }}</a></label>
                    </div>
                    <div class="clearfix"><br/></div>
                </form>
            </section>
            <!-- FOOTER -->
            <footer data-ng-class="{'success':!modal.showForm}">
                <button data-ng-show="modal.showForm" name="cancel" data-ng-click="modal.closeModal(applyForm)">{{ 'modal.cancelButton' | i18n }}</button>
                <button data-ng-show="modal.showForm" name="submit" data-ng-click="modal.submit(applyForm)" data-ng-disabled="modal.isSubmitting || modal.disableSendButton(applyForm.$valid)" data-ng-class="{ 'disabled': modal.disableSendButton(applyForm.$valid) }">
                    <span data-ng-if="!modal.isSubmitting">
                        {{ 'modal.sendButton' | i18n }}
                    </span>
                    <span data-ng-if="modal.isSubmitting">
                        <div class="loading">
                            {{ 'modal.submittingButton' | i18n }}
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                        </div>
                    </span>
                </button>
                <button data-ng-hide="modal.showForm" name="ok" data-ng-click="modal.closeModal(applyForm)">{{ 'modal.okButton' | i18n }}</button>
            </footer>
        </div>
    </div>
</div>
