<div class="modal-container">
    <div class="modal slide-up" data-ng-class="{'success':!modal.showForm}">
        <!-- HEADER -->
        <header>
            <section data-ng-if="modal.showForm">
                <h2>{{ modal.SearchService.currentDetailData.title }}</h2>
                <!-- CATEGORY -->
                <span class="category">{{ modal.SearchService.currentDetailData.publishedCategory.name }}</span>
                <!-- LOCATION -->
                <span class="location">
                    {{ modal.SearchService.currentDetailData.address.city }}<span data-ng-if="(modal.SearchService.currentDetailData.address.city && modal.SearchService.currentDetailData.address.state)">,&nbsp;</span>{{ modal.SearchService.currentDetailData.address.state }}
                </span>
                <!-- SEPERATOR -->
                <span class="separator" data-ng-show="::((modal.SearchService.currentDetailData.address.city || modal.SearchService.currentDetailData.address.state) && modal.SearchService.currentDetailData.employmentType)">|</span>
                <!-- TYPE -->
                <span class="type">{{ ::modal.SearchService.currentDetailData.employmentType }}</span>
                <!-- CLOSE X -->
                <i class="bhi-times close" data-ng-click="modal.closeModal(applyForm)"></i>
            </section>
            <!-- SUCCESS MESSAGE -->
            <section class="success" data-ng-if="!modal.showForm">
                <h2>{{ 'modal.successHeading' | i18n }}</h2>
                <h3>{{ 'modal.successSubHeading' | i18n }}</h3>
            </section>
        </header>
        <!-- MAIN CONTENT -->
        <div class="main" data-ng-class="{'success':!modal.showForm}">
            <!-- APPLICANT FORM -->
            <section>
                <form name="applyForm" class="apply-form" novalidate data-ng-show="modal.showForm">
                    <!-- FIRST NAME -->
                    <div class="form-field">
                        <div class="input">
                            <span class="required">*</span>
                            <input type="text" name="firstName" value="" data-ng-model="modal.ApplyService.form.firstName" data-i18n-attr="{placeholder: 'modal.firstNamePlaceholder'}" required>
                        </div>
                        <span class="error" data-ng-show="applyForm.firstName.$dirty || applyForm.$submitted">
                            <span data-ng-show="applyForm.firstName.$error.required">{{ 'modal.firstNameValidation' | i18n }}</span>
                        </span>
                    </div>
                    <!-- LAST NAME -->
                    <div class="form-field">
                        <div class="input">
                            <span class="required">*</span>
                            <input type="text" name="lastName" value="" data-ng-model="modal.ApplyService.form.lastName" data-i18n-attr="{placeholder: 'modal.lastNamePlaceholder'}" required>
                        </div>
                        <span class="error" data-ng-show="applyForm.lastName.$dirty || applyForm.$submitted">
                            <span data-ng-show="applyForm.lastName.$error.required">{{ 'modal.lastNameValidation' | i18n }}</span>
                        </span>
                    </div>
                    <!-- EMAIL -->
                    <div class="form-field">
                        <div class="input">
                            <span class="required">*</span>
                            <input type="email" name="email" value="" data-ng-model="modal.ApplyService.form.email" data-i18n-attr="{placeholder: 'common.emailPlaceholder'}" required>
                        </div>
                        <span class="error" data-ng-show="applyForm.email.$dirty || applyForm.$submitted">
                            <span data-ng-show="applyForm.email.$error.required">
                                {{ 'modal.emailValidationRequired' | i18n }}
                            </span>
                            <span data-ng-show="applyForm.email.$error.email">
                                {{ 'modal.emailValidationFormat' | i18n }}
                            </span>
                        </span>
                    </div>
                    <!-- PHONE -->
                    <div class="form-field">
                        <div class="input">
                            <span>&nbsp;</span>
                            <input type="text" name="mobile-phone" value="" data-ng-model="modal.ApplyService.form.phone" data-i18n-attr="{placeholder: 'modal.phonePlaceholder'}">
                        </div>
                    </div>
                    <!-- SKILLS & EXPERTISE -->
                    <div class="form-field" data-ng-if="modal.hasAttemptedLIApply">
                        <textarea placeholder="{{ 'modal.skills' | i18n }}" name="resume-text" data-ng-model="modal.linkedInData.resume" id="resume-text" cols="30" rows="5" data-ng-minlength="number"></textarea>
                    </div>
                    <!-- UPLOAD LABEL -->
                    <div class="upload-label" data-ng-if="!modal.hasAttemptedLIApply">
                        <span class="field-label">
                            {{ 'modal.resumeFilePlaceholder' | i18n }}
                            <i class="bhi-question" data-tooltips data-tooltip-class="accepted-formats" data-tooltip-show-trigger="mouseenter" data-tooltip-hide-trigger="mouseleave" data-tooltip-side="right" data-tooltip-title="Supported File Formats" data-tooltip-html="{{ ::modal.getTooltipText() }}"></i>
                        </span>
                        <span class="error" data-ng-show="!applyForm.$submitted && modal.resumeUploadErrorMessage">
                            {{ modal.resumeUploadErrorMessage }}
                        </span>
                        <span class="error" data-ng-show="applyForm.$submitted && !modal.ApplyService.form.resumeInfo">
                            {{ 'modal.resumeValidation' | i18n }}
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <!-- RESUME UPLOAD -->
                    <div class="form-field upload-container" data-ngf-select data-ng-model="modal.ApplyService.form.resumeInfo" data-ngf-max-size="modal.configuration.maxUploadSize" data-ngf-multiple="false" data-ngf-accept="applyForm.$submitted=false; modal.validateResume($file);"  data-ng-if="!modal.hasAttemptedLIApply">
                        <i data-ng-show="!modal.ApplyService.form.resumeInfo.name" class="bhi-publish"></i>
                        <i data-ng-show="modal.ApplyService.form.resumeInfo.name" class="bhi-resume"></i>
                        <span class="upload-text" data-ng-show="!modal.ApplyService.form.resumeInfo.name">{{ 'modal.uploadResumeFile' | i18n }}</span>
                        <span class="upload-text" data-ng-show="modal.ApplyService.form.resumeInfo.name">{{ modal.ApplyService.form.resumeInfo.name }}</span>
                    </div>
                    <!-- ERROR MESSAGE -->
                    <span class="error submit-error" data-ng-show="applyForm.$submitted && modal.ApplyService.ajaxError">
                        <i class="bhi-caution"></i> <span>{{ modal.ApplyService.ajaxError }}</span>
                    </span>
                    <div id="eeoc-fields" data-ng-show="modal.configuration.eeoc.enabled">
                    <div class="eeoc-label">
                        <span class="eeoc-label-header">
                            <h4>
                                {{ ::modal.configuration.eeoc.header1 }}
                                <a class="bhi-question" data-ng-model="eeoc_info" data-ng-click="eeoc_info = 'header'" />
                            </h4>
                            <div class="eeoc-info short" data-ng-show="eeoc_info == 'header'" data-ng-hide="eeoc_info != 'header'">
                                <div class="eeoc-info-closer"><i class="bhi-close" data-ng-click="eeoc_info = false" /></div>
                                <div data-ng-bind-html="modal.getEEOCTooltipText()"></div>
                            </div>
                        </span>
                    </div>
                    <div class="form-field">
                        <div class="input eeoc">
                            <label for="eeoc-gender">{{ ::modal.configuration.eeoc.gender.label }}</label>
                            <select id="eeoc-gender" data-ng-model="modal.ApplyService.form.gender" required>
                                <option data-ng-repeat="gender in ::modal.configuration.eeoc.gender.options" value="{{ gender.value }}">{{ gender.label }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="input eeoc">
                            <label for="eeoc-ethnicity">
                                {{ ::modal.configuration.eeoc.ethnicity.label }}
                                <a class="bhi-question" data-ng-model="eeoc_info" data-ng-click="eeoc_info = 'ethnicity'" />
                            </label>
                            <div class="eeoc-info short" data-ng-show="eeoc_info == 'ethnicity'" data-ng-hide="eeoc_info != 'ethnicity'">
                                <div class="eeoc-info-closer"><i class="bhi-close" data-ng-click="eeoc_info = false" /></div>
                                <div data-ng-bind-html="modal.getEEOCEthnicityTooltipText()"></div>
                            </div>
                            <!-- TODO Need to dynamically determine the size -->
                            <select id="eeoc-ethnicity" data-ng-model="modal.ApplyService.form.ethnicity" size="7" multiple required>
                                <option data-ng-repeat="ethnicity in ::modal.configuration.eeoc.ethnicity.options" value="{{ ethnicity.value }}">{{ ethnicity.label }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="eeoc-label">
                        <span class="eeoc-label-header">
                            <h4>
                                {{ ::modal.configuration.eeoc.header2 }}
                                <a class="bhi-question" data-ng-model="eeoc_info" data-ng-click="eeoc_info = 'veteran'" />
                            </h4>
                            <div class="eeoc-info" data-ng-show="eeoc_info == 'veteran'" data-ng-hide="eeoc_info != 'veteran'">
                                <div class="eeoc-info-closer"><i class="bhi-close" data-ng-click="eeoc_info = false" /></div>
                                <div data-ng-bind-html="modal.getEEOCTooltipText('veteran')"></div>
                            </div>
                        </span>
                    </div>
                    <div class="form-field">
                        <div class="input eeoc">
                            <select id="eeoc-veteran" data-ng-model="modal.ApplyService.form.veteran" required>
                                <option data-ng-repeat="veteran in ::modal.configuration.eeoc.veteran.options" value="{{ veteran.value }}">{{ veteran.label }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="eeoc-label">
                        <span class="eeoc-label-header">
                            <h4>
                                {{ ::modal.configuration.eeoc.header3 }}
                                <a class="bhi-question" data-ng-model="eeoc_info" data-ng-click="eeoc_info = 'disability'" />
                            </h4>
                            <div class="eeoc-info" data-ng-show="eeoc_info == 'disability'" data-ng-hide="eeoc_info != 'disability'">
                                <div class="eeoc-info-closer"><i class="bhi-close" data-ng-click="eeoc_info = false" /></div>
                                <div data-ng-bind-html="modal.getEEOCTooltipText('disability')"></div>
                            </div>
                        </span>
                    </div>
                    <div class="form-field">
                        <div class="input eeoc">
                            <select id="eeoc-disability" data-ng-model="modal.ApplyService.form.disability" required>
                                <option data-ng-repeat="disability in ::modal.configuration.eeoc.disability.options" value="{{ disability.value }}">{{ disability.label }}</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="clearfix"><br/></div>
                </form>
            </section>
            <!-- FOOTER -->
            <footer data-ng-class="{'success':!modal.showForm}">
                <button data-ng-show="modal.showForm" name="cancel" data-ng-click="modal.closeModal(applyForm)">{{ 'modal.cancelButton' | i18n }}</button>
                <button data-ng-show="modal.showForm" name="submit" data-ng-click="modal.submit(applyForm)" data-ng-disabled="modal.isSubmitting || modal.enableSendButton(applyForm.$valid)" data-ng-class="{ 'disabled': modal.enableSendButton(applyForm.$valid) }">
                    <span data-ng-if="!modal.isSubmitting">
                        {{ 'modal.sendButton' | i18n }}
                    </span>
                    <span data-ng-if="modal.isSubmitting">
                        <div class="loading">
                            {{ 'modal.submittingButton' | i18n }}
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                        </div>
                    </span>
                </button>
                <button data-ng-hide="modal.showForm" name="ok" data-ng-click="modal.closeModal(applyForm)">{{ 'modal.okButton' | i18n }}</button>
            </footer>
        </div>
    </div>
</div>
