<section class="job-overview" scroll>
    <card class="description" ng-style="topPad">
        <div class="job-actions" ng-class="overview.share">
            <button name="print" onclick="window.print();">
                <span class="icon-print"></span>
                Print
            </button>
            <button name="share" ng-click="overview.openShare()">
                <span class="icon-share"></span>
                Share
            </button>
            <div class="share-outlets">
                <a href="" class="icon-facebook" ng-click="overview.shareFacebook(jobData)"></a>
                <a href="" class="icon-twitter" ng-click="overview.shareTwitter(jobData)"></a>
                <a href="" class="icon-linkedin" ng-click="overview.shareLinkedin(jobData)"></a>
                <a href="" class="icon-email" ng-click="overview.shareEmail(jobData)"></a>
            </div>
        </div>
        <h2>{{::configuration.text.overview.header}}</h2>
        <div class="break-word">
            <p ng-bind-html="jobData.publicDescription"></p>
        </div>
    </card>
    <card class="apply" el-height>
        <span class="date-added">Added—{{jobData.dateLastPublished | date : fullDate}}</span>
        <h1 class="title" ng-class="{min:boolChangeClass}">Job {{jobData.id}}: <br>{{jobData.title}}</h1>
        <h3 class="category">{{jobData.publishedCategory.name}}</h3>
        <div class="loc-type">
            <span class="location">{{jobData.address.city}}, {{jobData.address.state}}</span> | <span class="type">{{jobData.employmentType}}</span>
        </div>
        <button name="apply" ng-click="overview.applyModal()">{{configuration.text.overview.applyButtonLabel}}</button>
        <div class="related-jobs">
            <hr>
            <h3>{{configuration.text.overview.relatedJobs}}</h3>
            <list>
                <item ng-repeat="job in relatedJobs">
                    <a href="javascript:void(0);" ng-click="overview.switchToJob(job.id)">{{ job.title }}</a>
                    <span class="category">{{ job.publishedCategory.name }}</span>
                    <span class="location">{{ job.address.city+','+job.address.state }}</span>
                </item>
            </list>
            <hr>
            <div ng-if="jobData.publishedCategory">
                <a href="javascript:void(0);" ng-click="overview.loadJobsWithCategory(jobData.publishedCategory.id)" class="category-filter">{{configuration.text.overview.seeAll}} {{jobData.publishedCategory.name}} {{configuration.text.overview.jobs}}<i class="icon-arrow-forward"></i> </a>
            </div>
        </div>
    </card>
</section>
