<section class="job-overview" scroll>
    <card class="description" ng-style="topPad">
        <div class="job-actions" ng-class="overview.share">
            <button name="print" onclick="window.print();">
                <span class="icon-print"></span>
                Print
            </button>
            <button name="share" ng-click="overview.openShare()">
                <span class="icon-share"></span>
                Share
            </button>
            <div class="share-outlets">
                <a href="" class="icon-facebook" ng-click="overview.shareFacebook(overview.jobData)"></a>
                <a href="" class="icon-twitter" ng-click="overview.shareTwitter(overview.jobData)"></a>
                <a href="" class="icon-linkedin" ng-click="overview.shareLinkedin(overview.jobData)"></a>
                <a href="" class="icon-email" ng-click="overview.shareEmail(overview.jobData)"></a>
            </div>
        </div>
        <h2>{{::searchService.config.portalText.overview.header}}</h2>
        <div class="break-word">
            <p ng-bind-html="overview.jobData.publicDescription"></p>
        </div>
    </card>
    <card class="apply" el-height>
        <span class="date-added">Added—{{overview.jobData.dateAdded | date : fullDate}}</span>
        <h1 class="title" ng-class="{min:boolChangeClass}">Job {{overview.jobId}}: <br>{{overview.jobData.title}}</h1>
        <h3 class="category" ng-repeat="cat in overview.jobData.categories">{{cat.data.name}}</h3>
        <div class="loc-type">
            <span class="location">{{overview.jobData.address.city}}, {{overview.jobData.address.state}}</span> | <span class="type">{{overview.job_data.employmentType}}</span>
        </div>
        <button name="apply" ng-click="overview.applyModal()">{{searchService.config.portalText.overview.applyButtonLabel}}</button>
        <div class="related-jobs">
            <hr>
            <h3>Related Jobs</h3>
            <list>
                <item ng-repeat="job in relatedJobs">
                    <a href="javascript:void(0);" ng-click="overview.switchToJob(job.id)">{{ job.title }}</a>
                    <span ng-repeat="cat in job.categories.data" class="category">{{ cat.name }}{{$last ? '' : ', '}}</span>
                    <span class="location">{{ job.address.city+','+job.address.state }}</span>
                </item>
            </list>
            <hr>
            <div ng-repeat="cat in overview.jobData.categories.data">
                <a href="javascript:void(0);" ng-click="overview.loadJobsWithCategory(cat.id)" class="category-filter">See all {{cat.name}} Jobs <i class="icon-arrow-forward"></i> </a>
            </div>
        </div>
    </card>
</section>
