<section class="filters-container" ng-controller="SideBar as aside" ng-click="aside.goBack('overview-open');">

    <header>
        <label>Filters</label>
        <button class="icon-view-list" ng-click="aside.switchViewStyle('list');"></button>
        <button class="icon-view-module" ng-click="aside.switchViewStyle('grid');"></button>
    </header>

    <filters>
        <searchbox>
            <label for="keyword" class="icon-search"></label>
            <input custom-ng-enter="searchJobs()" ng-model="searchService.searchParams.textSearch" type="search" id="keyword" name="keyword" value="" ng-attr-placeholder="{{::searchService.config.portalText.sidebar.searchPlaceholder}}">
        </searchbox>

        <h4>{{::searchService.config.portalText.sidebar.locationHeader}}</h4>
        <list>

            <span ng-repeat="loc in locations">
                <item ng-repeat="(state, count) in loc | orderBy:'state.toString()'" ng-if="state && state != 'null'">
                    <input type="checkbox" id="{{state}}" checklist-model="searchService.searchParams.location" checklist-value="state"
                           ng-click="filter()">
                    <label for="{{state}}">{{state}}</label>
                    <span>{{count}}</span>
                </item>
            </span>
        </list>
        <h4>{{::searchService.config.portalText.sidebar.categoryHeader}}</h4>
        <list>
			<span ng-repeat="cat in categories">
				<item ng-repeat="(name, count) in cat" ng-if="name && name != 'null'">
                    <input type="checkbox" id="{{name}}" checklist-model="searchService.searchParams.category" checklist-value="name"
                           ng-click="filter()">
                    <label for="{{name}}">{{name}}</label>
                    <span>{{count}}</span>
                </item>
			</span>

            <item><input type="checkbox" id="ux"><label for="ux">UX/UI</label></item>
            <item><input type="checkbox" id="mar"><label for="mar">Marketing</label></item>
            <item><input type="checkbox" id="sal"><label for="sal">Sales</label></item>
            <item><input type="checkbox" id="ps"><label for="ps">Professional Services</label></item>
        </list>

        <button ng-click="clearSearchParamsAndLoadData();" name="clear-all"><i class="icon-cancel"></i> Clear Filters</button>
    </filters>

    <credits>
        <span class="powered-by">Powered by</span>
        <h4 class="bullhorn">Bullh<span>o</span>rn</h4>
    </credits>

    <button type="back-arrow" class="icon-arrow-back" name="button"></button>
</section>
